@import '../../../../../assets/scss/color';

.lessons {
    margin: 0;
    padding: 1rem;

    .lesson {
        padding: 1rem;
        margin: 1rem 0;
        cursor: pointer;
        border-radius: 1rem;
        box-shadow: $box-shadow;

        .material-icons {
            font-size: 1.5rem;
            position: relative;
            color: $primary;
        }

        h1 {
            &.tittle {
                display: block;
                font-weight: 700;
                font-size: 1.2rem;


            }

            .stat {
                display: block;
                font-weight: 300;
                color: $darker-grey;
                font-size: .9rem;
                margin-top: .2rem;
            }
        }

        @media only screen and (max-width: 600px) {
            h1 {}
        }


    }

    .add-new {
        margin-top: 4rem;
        padding: 1rem;
        border-bottom: 1px solid $cloud;

        .mat-button {
            width: 15rem;
        }

        @media only screen and (max-width: 600px) {
            padding: 0;

            .mat-button {
                width: 100%;
            }
        }
    }

}

iframe {
    width: 100%;
    height: 20rem;
}


.comments {
    padding: 3rem 2rem;
    min-width: 10rem;

    @media only screen and (max-width: 600px) {
        padding: 2rem .5rem;
    }

    .comment {
        .user-dp {
            grid-template-columns: 10% auto;

            @media only screen and (max-width: 600px) {
                grid-template-columns: 16% auto;
            }
        }
    }
}

.students-likes {
    padding: 2rem .5rem;

    .user-dp {
        grid-template-columns: 7% auto;
    }
}