@import '../../../../../assets/scss/color';

@media only screen and (max-width: 600px) {
    .modal {
        .close {
            .edit {
                position: relative;
                left: 0;
                width: 100%;
                background: $primary;
                color: $white;
                margin: .5rem 0;
                height: unset;
            }

            .share {
                position: relative;
                left: 0;
                width: 100%;
                background: transparent;
                border: solid 1px $grey;
                height: unset;
                margin: .5rem 0;
            }
        }
    }

}