<div class=""
     *ngIf="lessons">
  <div class="list-items"
       *ngIf="lessons.length; else nodata">
    <div class="item"
         *ngFor="let lesson of lessons"
         (click)="preview(lesson)">
      <i class="material-icons">
        description
      </i>
      <h1 class="title">
        {{lesson.Tittle}}
        <span>
          subject name
        </span>
      </h1>
      <h1 class="h1">
        {{lesson.ContentType}}
        <span>
          lesson type
        </span>
      </h1>
      <h1 class="stat">(0) 🎓 / (0) 📲
        <span>
          quick stats
        </span>
      </h1>
    </div>
  </div>
  <app-actions-section [actionButtons]="actionButtons"
                       (clickedAction)="add()"
                       *ngIf="lessons.length"></app-actions-section>
  <ng-template #nodata>
    <div class="nodata">
      <h1>
        You don't have any lessons yet.
        <span (click)="add()">
          Add lesson
        </span>
      </h1>
    </div>
  </ng-template>
</div>
<div class="overlay"
     *ngIf="showModal || showDelete || showPreview"
     (click)="closeModal()"></div>

<div class="modal"
     *ngIf="showModal">
  <div class="modal-toolbar">
    <span class="material-icons"
          (click)="closeModal()">
      west
    </span>
    <h1 class="h1">
      {{modalHeading}}
    </h1>
  </div>
  <div class="form">
    <div class="form-group">
      <label for="">Lesson tittle**</label>
      <input type="text"
             placeholder="e.g. How to write a strong introduction."
             [(ngModel)]="tittle">
    </div>

    <div class="form-group">
      <div class="input-editor"
           *ngIf="contentType === 'Blog'">
        <quill-editor placeholder="Start typing or click image icon to uplaod"
                      class="editor"
                      [styles]="editorStyle"
                      [(ngModel)]="contentBody">

        </quill-editor>
      </div>
    </div>
    <div class="action">
      <button mat-button
              color="primary"
              (click)="formatBody()"> Save Lesson</button>
      <h5 class="error"
          *ngIf="error">
        {{error}}
      </h5>
    </div>


  </div>
</div>


<div class="modal"
     *ngIf="showDelete">
  <div class="delete-modal">
    <div class="modal-toolbar">
      <span class="material-icons"
            (click)="closeModal()">
        west
      </span>
      <h1 class="h1">
        {{modalHeading}}
      </h1>
    </div>

    <button mat-button
            color="primary"
            class="danger"
            (click)="formatBody()"> Yes, delete</button>
    <button mat-button
            color="primary"
            class="secondary"
            (click)="closeModal()"> Cancel</button>
    <div class="error"
         *ngIf="error">
      {{error}}
    </div>
  </div>
</div>

<app-lesson-preview [showPreview]="showPreview"
                    [modalHeading]="modalHeading"
                    [current]="current"
                    [htmlPreview]="htmlPreview"
                    (close)="closeModal()"
                    (edit)="edit()"
                    (copyText)="copyText()"
                    (reply)="reply($event)"
                    (post)="postComment($event)"
                    (toggle)="toggleReplies($event)"                    
                    ></app-lesson-preview>

<app-dash-loader *ngIf="showLoader"></app-dash-loader>