
@import './variables';
@import './grid';
@import './components/index';

* {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  // padding: 2rem;
}

h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.bread-crumb {
  a.home {
    cursor: pointer;
    color: $gray-color;
    font-weight: 400;
  }
}

a {
  &.cta {
    font-weight: 700;
    color: $sky-blue;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      color: $blue-color;
    }
  }
}

.main-section {
  padding: 2rem;
  height: 90vh;
}


.email-address{
  text-transform: lowercase !important;
}

::-webkit-scrollbar {
  width: 0.5px;
}
