*{
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    }
    
    body{
        font-family: 'Red Hat Display', sans-serif;
        // padding: 2rem;
    }
    h1{
      font-size: 1.2rem;
    }
    
    .main-section{
        padding: 2rem;
        height: 90vh;
    }
    .container-section{
        background: #fff;
        padding: 2rem;
        padding-bottom: 4rem;
        margin: 2rem 0;
        h1{
            font-weight: 400;
        }
    }
    
    .container-section{
        .form {
            width: 80%;
            margin: 0 auto;
            .controls {
              margin: 1.5rem 0;
              label {
                text-align: left;
                text-transform: capitalize;
                span{
                    color: rgb(224, 6, 6);
                }
              }
              .input-field {
                padding: 1rem 1.5rem;
                border: none;
                color: #130F40;
                background: #F5F6FA;
              }
              .action-button {
                background: #3742fa;
                color: #fff;
                width: 33%;
                float: right;
                padding: 1rem 1.5rem;
                border: none;
                text-transform: uppercase;
                cursor: pointer;
        
                &:hover {
                  background: rgb(25, 36, 243);
                }
                &:disabled {
                  background: rgba(148, 148, 149, 0.712);
                  cursor: no-drop;
                }
              }
              .alert {
                color: #ffcc00;
              }
            }
          }
        }


        ::-webkit-scrollbar {

          // display: none;
        }
        /* width */
        ::-webkit-scrollbar {
          width: 10px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1; 
        }
         
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888; 
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555; 
        }