button {

  
  &.mat-primary {
    background: $primary;
    width: 100%;
    border-radius: 0.313rem;
    font-weight: 500;
    font-size: 1rem;
    color: $white !important;
    border-radius: $border-radius;
   
  }

  &.mat-flat-button.mat-primary[disabled] {
    background-color: $grey;
  }

  &[disabled] {
    background-color: $grey;
  }

  @media only screen and (max-width: 600px) {
    &.mat-primary {
      background: $primary;
      width: 100%;
    }
  }
}


button {
  &.mat-primary {
    color: $white;
  }
}

button.secondary {
  background: $white;
  border: 1.5px solid $black !important;
  margin: .3rem 0;
  color: $black !important;
}


.save-all {
  position: fixed;
  padding: 1rem;
  color: $white;
  right: 2rem;
  bottom: 2rem;
}