
button {

    &.mat-primary {
      background: $primary;
      width: 100%;
      border-radius: 0.313rem;
      padding: .75rem;
      font-weight: 800;
      font-size: 1.125rem;
      color: $white !important;
    }
  
    &.mat-flat-button.mat-primary[disabled] {
      background-color: $grey;
    }

    &[disabled] {
      background-color: $grey;
    }
  
    @media only screen and (max-width: 600px) {
      &.mat-primary {
        background: $primary;
        width: 18.813rem;
      }
    }
  }
  

  button {
    &.mat-primary {
       color: $white;
    }
}

button.secondary {
  background: $white;
  border: 1.5px solid $black !important;
  margin: .3rem 0;
  color: $black !important;
}


.save-all{
  position: fixed;
  padding: 1rem;
  color: $white;
  bottom: 11rem;
  right: 19rem;
  height: 2rem;
}