$dashboard-body-width:100%;
$primary:#009CD7;
$primary-purple:#CA2186;
$primary-05:#0cb16469;
$info:#3498db;
$info-05:#3498db91;
$black:#1E272E;
$white:#FFFFFF;
$grey:#CED6E0;
$darker-grey:#A4B0BE;
$danger:#FF4757;
$danger-05:#ff47569b;
$cloud: #ecf0f1;
$city-ligth: #dfe6e9;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
0 3px 6px rgba(0, 0, 0, 0.23);
$border-radius : 0rem;

// dark