.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.514);
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  background: $cloud;
  z-index: 1001;
  left: 0;
  width: 100%;
  top: 0;
  overflow-y: scroll;
  max-height: 100vh;
  height: 100%;
  padding: 4rem 16rem;
  box-sizing: border-box;

  ::-webkit-scrollbar-thumb {
    background: #009CD7;
    width: 1px;
  }

  form {
    width: 40%;
    margin: 2rem auto;
    @media only screen and (max-width: 600px) {
      width: 61%;
    }
  }

  @media only screen and (max-width: 600px) {
    // height: 100vh;
    max-height: 100vh;
  }

  .main-list {
    background: none;
  }

  .close {
    text-align: left;
    cursor: pointer;
    font-weight: 800;
    border-bottom: 1px solid $grey;
    position: fixed;
    background: $white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    @media only screen and (max-width: 600px) {

    }


    .material-icons {
      font-size: 1.4rem;
      position: relative;
      top: .2rem;
      margin-right: 2rem;
      @media only screen and (max-width: 600px) {
        margin-right: 0;
      }
    }

    .edit {
      position: relative;
      left: 57rem;
      background: $grey;

      .material-icons {
        margin: .2rem;
        top: 0;
      }

    }

    .share {
      position: relative;
      left: 60rem;
      background: $grey;

      .material-icons {
        margin: .2rem;
        top: 0;
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 1.6rem;
  }

  p {
    padding: 2rem;
  }

  .editor {
    p {
      padding: 0;
      text-align: left;
      margin: .3rem;
    }

    h1 {
      text-align: left;
      margin: .3rem;
    }
  }

  label,
  input,
  textarea,
  select {
    display: block;
    margin: .5 0rem;
  }

  label {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .3rem;
    font-size: 1.1rem;

    span {
      display: block;
      font-weight: 500;
      font-size: .8rem;
    }
  }

  input,
  textarea,
  select {
    padding: 1rem;
    width: 97.5%;
    margin: 1rem 0;
    margin-top: 0;

    @media only screen and (max-width: 600px) {
      width: 88%;
    }
  }

  button {
    @media only screen and (max-width: 600px) {
      margin: 1rem auto;
      z-index: 10000;
    }
  }

  .secondary {
    @media only screen and (max-width: 600px) {
      bottom: 6rem;
    }
  }

  .btn-float {
    position: fixed;
    z-index: 1000;
    right: 2.5rem;
    bottom: 8%;
    font-size: .8rem !important;
    padding: .5rem 1rem;
    width: 10rem !important;
  }

  .col-1-of-2 {

    input,
    textarea,
    select {
      width: 80%;
    }
  }

  select {
    width: 100%;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    top: 0;
    padding: 4rem 1rem;
  }

   
}