.modal {
  position: fixed;
  background: $city-ligth;
  z-index: 1001;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  top: 0;
  overflow-y: scroll;
  height: 100vh;
  padding: 2rem;

  .modal-toolbar {
    display: grid;
    grid-template-columns: 4% auto;
    background: $white;
    box-shadow: $box-shadow;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;

    .material-icons {
      margin-right: 0;
      cursor: pointer;
      margin: .1rem 0;
    }

    h1 {
      margin: 0;

      &.h1 {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }

  .preview {
    margin: 2rem;
    padding: 1rem;
    background: $white;


    h1 {
      &.section-title {
        font-size: 1rem;
        font-weight: 400;
        color: $grey;
        font-style: italic;
      }
    }

    .sections {
      height: 75vh;
      overflow-y: scroll;
      padding: 1rem;

      .section {
        .editor {
          border: solid 1px $grey;
          padding: 1rem;
          border-radius: $border-radius;
        }
      }
    }

    .actions-section {
      .buttons {
        button {
          width: 100%;

          &.update {
            background: $primary;
            color: $white;
          }

          &.share {
            border: solid 1px $primary;
            color: $primary;
          }
        }
      }
    }

  }

  .form {
    margin: 2rem;
  }

  .modal-content {
    padding: 2rem;
    background: white;
    margin-top: 2rem;
  }

  @media only screen and (max-width: 600px) {
    padding: 1rem;

    .preview {
      margin: 0;
      margin-top: 1rem;
    }

    .form {
      margin: 0;
      margin-top: 3.5rem;
      height: 91vh;

      .input-editor .ql-toolbar.ql-snow {
        width: 19rem;
        position: relative;
        top: unset;
      }
    }
    .modal-content {
      padding: 2rem 0rem;
    }
  }
}