<div class=""
     *ngIf="assignments">
  <div class="list-items"
       *ngIf="assignments.length; else nodata">
    <div class="item"
         *ngFor="let assignment of assignments"
         (click)="preview(assignment)">
      <i class="material-icons">
        description
      </i>
      <h1 class="title">
        {{assignment.Tittle}}
        <span>
          assignment name
        </span>
      </h1>
      <h1 class="h1">
        {{assignment.Points}}
        <span>Points
        </span>
      </h1>

      <h1 class="h1">
        {{assignment.DueDate | date: 'mediumDate'}}
        <span>Due date
        </span>
      </h1>
    </div>

  </div>
  <app-actions-section [actionButtons]="actionButtons"
                       (clickedAction)="add()"
                       *ngIf="assignments.length"></app-actions-section>
  <ng-template #nodata>
    <div class="nodata">
      <h1>
        You don't have any assignments yet.
        <span (click)="add()">
          Add assignment
        </span>
      </h1>
    </div>
  </ng-template>
</div>



<div class="overlay"
     *ngIf="showModal || showDelete || showPreview"
     (click)="closeModal()"></div>
<div class="modal"
     *ngIf="showModal && assignment">
  <div class="modal-toolbar">
    <span class="material-icons"
          (click)="closeModal()">
      west
    </span>
    <h1 class="h1">
      {{modalHeading}}
    </h1>
  </div>

  <div class="form">
    <div class="form-group">
      <label for="">Assignment title**</label>
      <input type="text"
             placeholder="e.g. How to write a strong introduction."
             [(ngModel)]="assignment.Tittle">
    </div>
    <div class="form-group">
      <label for="">Assignment points**</label>
      <input type="number"
             placeholder="e.g. 100"
             [(ngModel)]="assignment.Points">
    </div>
    <div class="form-group">
      <label for="">Assignment due date**</label>
      <input type="date"
             [(ngModel)]="assignment.DueDate">
    </div>
    <div class="form-group">
      <label for="">Assignment Instructions</label>
      <textarea [(ngModel)]="assignment.Instructions"
                placeholder="e.g. How to write a strong introduction.">
      </textarea>
    </div>
    <div class="action">
      <button mat-button
              color="primary"
              (click)="save()"> Save Assignment</button>
      <h5 class="error"
          *ngIf="error">
        {{error}}
      </h5>
    </div>

  </div>
</div>


<div class="modal"
     *ngIf="showPreview && assignment">
  <div class="delete-modal">
    <div class="modal-toolbar">
      <span class="material-icons"
            (click)="closeModal()">
        west
      </span>
      <h1 class="h1">
        {{modalHeading}}
      </h1>
    </div>

    <div class="form">
      <div class="form-group">
        <label for="">Assignment title**</label>
        <input type="text"
               placeholder="e.g. How to write a strong introduction."
               [(ngModel)]="assignment.Tittle">
      </div>
      <div class="form-group">
        <label for="">Assignment points**</label>
        <input type="number"
               placeholder="e.g. 100"
               [(ngModel)]="assignment.Points">
      </div>
      <div class="form-group">

        <label for="">Assignment due date**</label>
        <input type="date"
               [(ngModel)]="assignment.DueDate">
      </div>
      <div class="form-group">
        <label for="">Assignment Instructions</label>
        <textarea [(ngModel)]="assignment.Instructions"
                  placeholder="e.g. How to write a strong introduction.">
        </textarea>
      </div>
      <div class="files">
        <label for="">Assignment Files</label>
        <app-images [images]="assignment.Images"
                    [otherId]="assignment.AssignmentId"
                    (onUploadFinished)="uploadFinished($event)"></app-images>
      </div>
      <div class="action">
        <button mat-button
                color="primary"
                (click)="update()"> Save Changes</button>
        <h5 class="error"
            *ngIf="error">
          {{error}}
        </h5>
      </div>

    </div>
    <div class="error"
         *ngIf="error">
      {{error}}
    </div>
  </div>
</div>


<div class="modal"
     *ngIf="showDelete">
  <div class="delete-modal">
    <div class="modal-toolbar">
      <span class="material-icons"
            (click)="closeModal()">
        west
      </span>
      <h1 class="h1">
        {{modalHeading}}
      </h1>
    </div>

    <button mat-button
            color="primary"
            class="danger"
            (click)="formatBody()"> Yes, delete</button>
    <button mat-button
            color="primary"
            class="secondary"
            (click)="closeModal()"> Cancel</button>
    <div class="error"
         *ngIf="error">
      {{error}}
    </div>
  </div>
</div>



<app-dash-loader *ngIf="showLoader"></app-dash-loader>