<div class="main-section">
  <div class="header">
    <h1>
      learners
    </h1>
    <div class="bread-crumb">
      <a (click)="toLearners()" class="home">learners </a> / <a class="cta">learner details</a>
    </div>
  </div>
  <div class="col-1-of-2">
    <div class="container-section content" *ngIf="learner | async; let item;">
      <div class="col-1-of-1 header">
        <h1>
          {{item.firstName}} {{item.lastName}}'s Details
        </h1>
      </div>
      <div class="container-body col-1-of-2">
        <div>
          <img src="assets/images/dashboard/student/student-detail-icon.svg" alt="student-detail-icon" class="icon">
        </div>
        <div class="details col-1-of-2">
          <h1 class="title">
            fullname:
          </h1>
          <h1 class="value">
            {{item.firstName}} {{item.lastName}}
          </h1>
          <h1 class="title">
            gender:
          </h1>
          <h1 class="value">
            {{item.gender}}
          </h1>
          <h1 class="title">
            race:
          </h1>
          <h1 class="value">
            {{item.race}}
          </h1>
          <h1 class="title">
            dateOfBirth:
          </h1>
          <h1 class="value">
            {{item.dateOfBirth}}
          </h1>
          <h1 class="title">
            idNumber:
          </h1>
          <h1 class="value">
            {{item.idNumber}}
          </h1>
          <h1 class="title">
            schoolName:
          </h1>
          <h1 class="value">
            {{item.schoolName}}
          </h1>
          <h1 class="title">
            grade:
          </h1>
          <h1 class="value">
            {{item.grade}}
          </h1>
          <h1 class="title">
            section:
          </h1>
          <h1 class="value">
            {{item.section}}
          </h1>
        </div>
      </div>
    </div>
    <app-learner-parents [learnerId]="learnerId"></app-learner-parents>
  </div>

</div>
