.table-container {
  .table-body{
    overflow-y: scroll;
    height: 60vh;
    padding-top: 2rem;
  }

  position: relative;
  .table-cols {
    margin: 0;
    padding: 0.5rem 1.5rem;
    display: grid;
    grid-template-columns: 25% 20% 20% 20% auto;
    border-bottom: 1px solid #d5d6d9;
    h1 {
      font-size: 0.8rem;
    }
  }
  .table-header {
    border: none;
    background: #f5f6fa;

    h1 {
      font-weight: 700;
    }
  }
  .search {
    background: #ffffff;
    grid-template-columns: 70% auto;
    margin-bottom: 1rem;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-box-shadow: -4px 48px 54px -42px rgba(0,0,0,1);
    -moz-box-shadow: -4px 48px 54px -42px rgba(0,0,0,1);
    box-shadow: -4px 48px 54px -42px rgba(0,0,0,1);

    input {
      border: 1px solid #130f4062;
      background: #f5f6fa;
      border-radius: 0.3rem;
      padding: 0.4rem;
    }
  }
}
.container-section {
  padding: 0.5rem;
  padding-top: 0;
}
