<div class="main-section content">
  <div class="header">
    <h1>
      parents
    </h1>
    <a class="cta" routerLink="../add-parent">Add Parent</a>
  </div>
  <div class="container-section">
    <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            <th>full name</th>
            <th>gender</th>
            <th>id number</th>
            <th>cellphone number</th>
            <th>email address</th>
            <th>address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of parents">
            <td>{{item.fullName}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.idNumber}}</td>
            <td>{{item.cellphone}}</td>
            <td>{{item.email}}</td>
            <td>{{item.address}}</td>
            <td>
              <a class="cta more" (click)="viewParentDetails(item.parentId)">view more</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<p-toast></p-toast>
