<div class="main-section">
  <h1>
    Dashboard Admin
  </h1>

  <div class="cards">
    <div class="card">
      <div>
        <img src="assets/images/parents.svg" alt="">
      </div>

      <div>
        <h1>
          Parents
          <span>
            387
          </span>
        </h1>
      </div>
    </div>
    <div class="card">
      <div>
        <img src="assets/images/comms.svg" alt="">
      </div>

      <div>
        <h1>
          Messages sent
          <span>
            387
          </span>
        </h1>
      </div>
    </div>
    <div class="card">
      <div>
        <img src="assets/images/asserts.svg" alt="">
      </div>

      <div>
        <h1>
          Asserts
          <span>
            387
          </span>
        </h1>
      </div>
    </div>
  </div>
</div>