<div class="headers">
  <app-breadcrumb [crumbs]="crumbs"></app-breadcrumb>
  <app-header-banner [headerBanner]="headerBanner" (showModalEventEmitter)="add()"></app-header-banner>
</div>
<div class="over-view" *ngIf="statistics">
  <h1 class="title">Overview</h1>
  <hr>
  <app-stat-card [statistics]="statistics"></app-stat-card>
</div>
<div class="data-card-table">
  <h1 class="title">Learners with pending payments</h1>
  <mat-card>
    <div class="header-row">
      <h1 class="ht">Name</h1>
      <h1 class="ht">Contact #</h1>
      <h1 class="ht">Email</h1>
    </div>
    <div class="data-row" *ngFor="let item of leaners">
      <h1 class="td header">{{item.Name}} {{item.Surname}}</h1>
      <h1 class="td">{{item.PhoneNumber}}</h1>
      <h1 class="td">{{item.Email}}</h1>
    </div>
  </mat-card>
</div>