.cards {
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 24.5%);
  grid-gap: 1rem;
  text-align: center;
  // box-sizing: border-box;

  .card {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background: #fff;
    border-radius: 0.4rem;
    padding: 2rem;
    cursor: pointer;
    img {
      width: 3rem;
      float: left;
    }

    h1 {
      font-weight: 400;
      font-size: 1.2rem;
      font-family: 'Roboto', sans-serif;
      text-align: right;

      span {
        padding-top: .4rem;
        font-weight: 600;
        display: block;
      }
    }
  }
  .disabled{
    background: #D5D6D9;
    cursor: no-drop;

  }
}

.cols-2 {
  grid-template-columns: repeat(2, 50%);
  .cols-1 {
    grid-template-columns: 100%;
    padding: 0;
    background: #ffffff;
  }
}
