.cards {
    margin: 0 auto;
    margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 28%);
  grid-gap: 3rem;
  text-align: center;
  

  .card {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background: #fff;
    border-radius: 0.6rem;
    padding: 2rem;
    cursor: pointer;
    img {
      width: 3rem;
      float: left;
    }

    h1 {
      font-weight: 400;
      font-size: 1.2rem;
      span {
        font-weight: 700;
        display: block;
      }
    }
  }
}
