<div class="main-section">
  <h1>
    Dashboard Admin
  </h1>

  <div class="cards">
    <div class="card" (click)="navigateToPage('parents')">
      <div>
        <img src="assets/images/parents.svg" alt="">
      </div>

      <div>
        <h1>
          Parents
          <span>
            {{countParents}}
          </span>
        </h1>
      </div>
    </div>
    <div class="card" (click)="navigateToPage('learners')">
      <div>
        <img src="../../../../assets/images/dashboard/student/students-icon.svg" alt="">
      </div>

      <div>
        <h1>
          Learners
          <span>
            {{countLearners}}
          </span>
        </h1>
      </div>
    </div>
    <div class="card" (click)="navigateToPage('asserts')">
      <div>
        <img src="assets/images/asserts.svg" alt="">
      </div>

      <div>
        <h1>
          Asserts
          <span>
            {{countAsserts}}
          </span>
        </h1>
      </div>
    </div>
  </div>

  <div class="cards cols-2">
    <div class="card cols-1" >
      <app-recently-added [listType]="learners"></app-recently-added>

    </div>
    <div class="card cols-1" >
      <app-recently-added [listType]="parents"></app-recently-added>
    </div>
  </div>
</div>