@import '../../../../../assets/scss/color';

.public-questions {
    background: $white;
    margin: 1rem auto;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: $border-radius;

    .intro {
        display: grid;
        grid-template-columns: 80% auto;

        img {
            width: 100%;
            position: relative;
            top: 2rem;
        }
    }

    ul {
        li {
            font-weight: 400;
            margin: 1rem;
            font-size: .85rem;
            color: $darker-grey;
        }
    }

    .actions {

        button {
            width: 12rem;
        }
    }
}