
<div class="navbar">
    <div class="logo">
        <a href="https://www.education.gov.za/" target="blank"> <img 
                src="../../../assets/images/home-page/department-logo.png" alt="logo"></a>
    </div>
    <div class="tabs">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="About Us">About Us</a></li>
        </ul>
    </div>
    <div class="login">
        <li><a routerLink="sign-up">Login</a></li>
    </div>
  </div>
<router-outlet></router-outlet>
<div class="footer">
    <section>
  
    </section>
  
    <section>
      <h1>Our Contacts</h1>
    </section>
    <section>
      <h1>News</h1>
    </section>
    <section>
      <h1>Upcoming</h1>
    </section>
  </div>
