.navbar {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    // position: fixed;
}
.logo{
    width: 15%;
    margin-right: 12%;
    margin-left: 2rem;
}
.tabs,.login{
    width: 40%;
    align-content:center;
    display: flex;
    padding-top: 2rem;
}
.login{
    width: 15%;
    justify-content: center;
    text-align:center;
    align-content:center;
}
.tabs ul{
    display: flex;
    width: 50%;
  
}
.tabs li ,.login li{
    list-style-type: none;
    display: inline;
    padding: 6%;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: black;
}
.footer {
    background: #130f40;
    color: #ffcc00;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }