<div class="navbar">
    <div class="logo">
        <a href="https://www.education.gov.za/" target="blank"> <img
                src="../../../assets/images/home-page/department-logo.png" alt="logo"></a>
    </div>
    <div class="tabs">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="About Us">About Us</a></li>
        </ul>
    </div>
    <div class="login">
        <li><a routerLink="sign-up">Login</a></li>
    </div>
</div>
<router-outlet></router-outlet>
<div class="footer">
    <section>
        <img src="../../../assets/images/home-page/footer img.png" alt="department logo">
    </section>

    <section>
        <h1>Physical Address</h1>
        <h5>16 Deifern Ridge</h5>
        <h5>support@ndusysems.co.za</h5>
        <h5>0117855500</h5>
    </section>
    <section>
        <h1>News</h1>
        <h5>Education activists make submissions to<br> state capture commission</h5>
    </section>
    <section>
        <h1>Subscribe Newsletter</h1>
        <input type="text" class="input-field" placeholder="enter email..." />
        <input type="submit" value="Subscribe" class="form-button" [disabled]="!rForm.valid"/>
    </section>
</div>