@import '../../../../../assets/scss/color';

.col-1-of-2 {
    grid-template-columns: 40% auto;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
    }
}

.form {
    background: transparent;
    padding: 0 1rem;
    margin: 0 auto;

    h1 {
        font-size: 1.75rem;
        text-align: center;
        margin-top: 10rem;
        margin-bottom: 1rem;
    }
}



.cta {

    a {
        display: block;
        text-align: center;
        width: 100%;
        color: $primary;
        position: relative;
        font-weight: 600;

        span {
            font-size: .8rem;
            color: $black;
        }
    }
}


@media screen and (max-width: 600px) {
    .main {
        padding: 0;
        overflow-y: scroll;
    }

    .col-1-of-1 {
        padding: 0 1rem;
    }

    .form {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        left: 0;
        margin-top: 0rem;

        .action {
            button.mat-button {
                padding: .5rem;
            }
        }

        h1 {
        }
    }

    .cta {
        a {
            top: 0;
        }
    }

}