@import '../../../../../assets/scss/color';

.main {
    padding: 8rem 0;
}

.form {
    width: 40%;

    h1 {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
}

.cta {

    a {
        display: block;
        text-align: center;
        width: 100%;
        color: $primary;
        position: relative;
        top: 2.5rem;

        span {
            font-size: .8rem;
            color: $black;
        }
    }
}


@media screen and (max-width: 600px) {
    .main {
        padding: 0;
        overflow-y: scroll;
    }

    .col-1-of-1 {
        padding: 0 1rem;
    }

    .form {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        left: 0;
        margin-top: 4rem;
        .action {
            button.mat-button {
              padding: .5rem;
            }
          }
    }

    .cta {
        a {
            top: 0;
        }
    }

}