@import '../../../../assets/scss/color';

.main {
    padding: 2rem;
    box-sizing: border-box;
    background: $cloud;
    margin-top: 2rem;
    border-radius: .5rem;

    @media only screen and (max-width: 600px) {
    }
}







