<div class="main" *ngIf="lesson">
  <h1>
    {{lesson.Tittle}}
  </h1>
  <div class="html-view">
  
    <div [innerHtml]="htmlPreview"></div>
    <div class="edit">

    </div>
  </div>

  <div class="comments">
    <h1>Discussion</h1>
    <div class="comment wider" *ngFor="let comment of lesson.Comments  ; let i = index">
      <span *ngIf="!comment.ParentId">
        <div class="user-dp">
          <div class="dp">
            {{comment.User.Name[0]}}{{comment.User.Surname[0]}}
          </div>

          <p>
            {{comment.User.Name}} {{comment.User.Surname}}
            <span class="messaage">
              {{comment.Name}}
            </span>
            <span class="messaage">
              <div class="reply">
                <a (click)="reply(comment)" *ngIf="!comment.ShowReply">
                  <span class="material-icons">
                    reply
                  </span>
                  Reply
                </a>

                <div class="reply-input" *ngIf="comment.ShowReply">
                  <input type="text" placeholder="Type reply message here..." [(ngModel)]="comment.Reply">
                  <button (click)="postComment(comment)">
                    <span class="material-icons">
                      send
                    </span>
                  </button>
                </div>
              </div>
            </span>
            <span class="messaage">
              <div class="btn-show-replies" *ngIf="!comment.ShowReplies && comment.Replies.length > 0"
                (click)="toggleReplies(comment)">
                <a>-- View replies ({{comment.Replies.length}})</a>
              </div>
              <div class="btn-show-replies" *ngIf="comment.ShowReplies && comment.Replies.length > 0"
                (click)="toggleReplies(comment)">
                <a>-- Hide replies</a>
              </div>
            </span>
          </p>
        </div>

        <div class="comment-text" *ngIf="comment.ShowReplies">

          <div class="replies">
            <div class="comment wider" *ngFor="let rep of comment.Replies  ; let i = index">
              <div class="user-dp">
                <div class="dp">
                  {{rep.User.Name[0]}}{{rep.User.Surname[0]}}
                </div>

                <p>
                  {{rep.User.Name}} {{rep.User.Surname}}
                  <span class="messaage">
                    {{rep.Name}}
                  </span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </span>
    </div>

    <div class="new-comment">
        <div class="text">
          <textarea [(ngModel)]="comment" class="comment-box" placeholder="What do you think of this topic?"></textarea>
    
          <button mat-button color="primary" class="post-btn" (click)="postNewComment()">
            <span class="material-icons">
              send
              </span>
          </button>
        </div>
    </div>
  </div>
</div>

<div class="back">
  <button (click)="back()">
    Back
  </button>
</div>

<app-login-modal *ngIf="showLogin"  (userDoneLoginIn)="userDoneLoginIn($event)"></app-login-modal>