<div class="main-section">
    <div class="header">
      <h1>
          Link learner to a parent
      </h1>
      <a class="cta" routerLink="../../add-learner">add new learner</a>
    </div>
    <div class="container-section">
      <div class="table-wrapper">
        <table class="fl-table">
          <thead>
            <tr>
              <th>full name</th>
              <th>gender</th>
              <th>id number</th>
              <th>grade</th>
              <th>grade</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of learners | async">
              <td>{{item.firstName}} {{item.lastName}}</td>
              <td>{{item.gender}}</td>
              <td>{{item.idNumber}}</td>
              <td>{{item.grade}}</td>
              <td>{{item.section}}</td>
              <td><a class="cta more" (click)="link(item.learnerId)">Link</a></td>
            </tr>
          <tbody>
        </table>
      </div>
    </div>
  </div>
  