<div class="head">
  <div>
    <h1>
      Hi, {{user?.Name}}
    </h1>
  </div>
</div>


<div  class="main-list">
  <div class="main"  *ngIf="grades$ | async as grades">
    <mat-tab-group>
      <mat-tab *ngFor="let grade of grades ; let i = index" [label]="grade.Grade.Name">
  
        <div class="tab">
          <app-subjects [subjects]="grade.Subjects"></app-subjects>
        </div>
      </mat-tab>
      <mat-tab label="Add new grade" *ngIf="isAdmin">
        <div class="form">
          <div class="form-group">
            <label for="">Select Institution Type*</label>
            <select name="" id="" [(ngModel)]="institutionTypeId">
              <option *ngFor="let item of institutionTypes" [value]="item.InstitutionTypeId">{{item.Name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Grade name*</label>
            <input type="text" [(ngModel)]="name">
          </div>
          <div class="form-group">
            <label for="">Grade description</label>
            <input type="text" [(ngModel)]="description">
          </div>
          <button mat-button color="primary" (click)="save()"> Save grade </button>
          <div class="error" *ngFor="let error of errors">
            {{error}}
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>






<ng-template #nodata>
  <div class="nodata">
    <h1>
      You don't have any grades yes, create grade.
    </h1>
  </div>
</ng-template>




<div class="overlay" *ngIf="showModal" (click)="closeModal()"></div>
<div class="modal" *ngIf="showModal && !isDelete">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

</div>


<div class="modal" *ngIf="isDelete">
  <div class="delete-modal">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
    <button mat-button color="primary" class="danger" (click)="update()"> Yes, delete</button>
    <button mat-button color="primary" class="secondary" (click)="closeModal()"> Cancel</button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>