<div class="main">
    <div class="banner">
      <h1>
        About Us
       </h1>
    </div> 
  </div>

<app-intro-section></app-intro-section>
<app-statistics></app-statistics>
<div class="section"></div>

  
<!-- <div class="about"> 
  <!-- <h1> The Story of Siphiwe Secondary School</h1>
  <div class="about-us-content">
    <div class="content">
      <img src="../../../../assets/images/about-us/schoolboy.png" alt="schoolboy in class">
    </div>
    <div class="paragraph">
      <p>
        A culture of high expectations and a commitment to nurturing the talents and developing the gifts of every
        student underpins the culture of Mthombisi High School. We are student centred with a strong focus on
        individuals. Teachers offer many opportunities to stretch and challenge all, including the most able.
      </p><br>
      <p>
        Exceptional teaching is the building block of our success. We blend the traditional with the innovative to give
        our students the best experiences in the classroom, laboratory or on the playing field.
      </p><br>
      <p>
        We monitor students’ progress carefully at all key stages. Quite simply, our aspiration is that every student
        makes exceptional progress; those who would benefit from additional support in any aspect of their learning and
        those with marked aptitudes are identified early and given specialist support to reach their full potential.
      </p>
    </div>
  </div>
  <div class="cards">
    <div class="card">
      <img src="../../../../assets/images/about-us/People.png" alt="teachers">
      <h2>BEST TEACHERS</h2>
      <p>They give learners academic excellence and wisdom. </p>
    </div>
    <div class="card">
      <img src="../../../../assets/images/about-us/lab.png" alt="lab">
      <h2>EXCELENT LAB</h2>
      <p>Learning becomes fun when working with a well equipped lab.</p>
    </div>
    <div class="card">
      <img src="../../../../assets/images/about-us/activities.png" alt="soccerball">
      <h2>ACTIVITIES</h2>
      <p>An heathy mind is important for learning that is why we keep learners active</p>
    </div>
    <div class="card">
      <img src="../../../../assets/images/about-us/values.png" alt="Table">
      <h2>BEST TEACHERS</h2>
      <p>They give learners academic excellence and wisdom. </p>
    </div>
  </div>
</div>  -->