<div class="main">
    <div class="banner">
      <h1>
        About Us
       </h1>
    </div> 
  </div>

<app-intro-section></app-intro-section>
<app-statistics></app-statistics>
<div class="section"></div>
<div class="stars">
    <li><img src="/assets/images/betta/rating-H14TIznVH.png" alt="star"></li>
    <li><img src="/assets/images/betta/rating-H14TIznVH.png" alt="star"></li>
    <li><img src="/assets/images/betta/rating-H14TIznVH.png" alt="star"></li>
    <li><img src="/assets/images/betta/rating-H14TIznVH.png" alt="star"></li>
    <li><img src="/assets/images/betta/rating-H14TIznVH.png" alt="star"></li>
  </div>
  