@import '../../../../../../assets/scss/color';

.company {
    background: $white;
    padding: 2rem;
    border-radius: $border-radius;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 15% auto;

    .dp {
        width: 10rem;
        height: 10rem;
        font-size: 5rem;
        cursor: pointer;
        overflow: hidden;
        border: 3px solid $cloud;
        background: $cloud;


    }

    img {
        width: 90%;
        border-radius: 1rem;
        position: relative;
        margin: .5rem auto;
    }
}

.details {
    border-left: 1px solid $cloud;
    padding: 2rem;

    h1 {
        font-size: 1.6rem;

        span {
            display: block;
            font-size: .9rem;
            font-weight: 500;
            font-style: italic;
        }

        .link {
            color: $darker-grey;
            margin-top: 1rem;
            cursor: pointer;
            font-size: .8rem;
            font-weight: 400;
        }
    }
}