<div class="teacher-grades">
  <div class="header">
    <div class="name">
      <h1>
        {{grade?.Name}}
      </h1>    
    </div>
    <div class="switch">
      <div class="label">
        <span>Switch grade</span>
      </div>
      <mat-form-field>
        <mat-select [(ngModel)]="gradeId">
          <mat-option *ngFor="let item of grades; let i = index" [value]="item.GradeId" (click)="gradeChanged(item)">
            {{item.Name}}</mat-option>
        </mat-select>
      </mat-form-field> 
    </div>
  </div>
  <!-- <div class="subjects">
    <app-subjects *ngIf="grade" [subjects]="grade.Subjects" [gradeId]="grade.GradeId"></app-subjects>
  </div> -->
  <div class="subjects">
    <div class="col-1-of-4">
      <div class="dashboard-card"
           *ngFor="let item of [1,1,1,1,1]">
        <div class="card-img">
          <img src="assets/images/dashboard/education.jpg"
               alt="placeholder">
        </div>
        <div class="card-content">
          <h1 class="heading">
            UX designer fundamentals basic knowledge
          </h1>
          <div class="topics">
            <img src="assets/images/dashboard/book.svg"
                 alt="placeholder"><a class="cta">0 topics</a>
          </div>
          <div class="card-stats">
            <h1 class="h1">
              attending learners
            </h1>
            <h1 class="h1 value">
              100
            </h1>
            <h1 class="h1">
              number of test/assignments
            </h1>
            <h1 class="h1 value">
              100
            </h1>
          </div>
        </div>
        <div class="card-actions">
          <button mat-button
                  color="primary"
                  class="status verification">
            Awaiting verification
          </button>
          <button mat-button
                  color="primary"
                  class="cta">
            view more
          </button>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="overlay" *ngIf="showModal" (click)="closeModal()"></div>
<div class="modal" *ngIf="showModal && gradeToAdd">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div class="form">
    <div class="form-group" *ngIf="institutionTypes">
      <label for="">Select Institution Type*</label>
      <select (change)="selectedInstitutionType($event)">
        <option *ngFor="let item of institutionTypes" [value]="item.Name">{{item.Name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Grade name*</label>
      <input type="text" [(ngModel)]="gradeToAdd.Name">
    </div>
    <div class="form-group">
      <label for="">Grade description</label>
      <input type="text" [(ngModel)]="gradeToAdd.Description">
    </div>
    <button mat-button color="primary" (click)="save()"> Save grade </button>
    <div class="error" *ngFor="let error of errors">
      {{error}}
    </div>
  </div>

</div>

<div class="modal" *ngIf="showModal && isUpdate">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div class="form">
    <div class="form-group">
      <label for="">Select Institution Type*</label>
      <select [(ngModel)]="grade.InstitutionTypeId"> {{InstitutionTypeId}}
        <option *ngFor="let item of institutionTypes" [value]="item.InstitutionTypeId">{{item.Name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Grade name*</label>
      <input type="text" [(ngModel)]="grade.Name">
    </div>
    <div class="form-group">
      <label for="">Grade description</label>
      <input type="text" [(ngModel)]="grade.Description">
    </div>
    <button mat-button color="primary" (click)="update()"> Save changes </button>
    <div class="error" *ngFor="let error of errors">
      {{error}}
    </div>
  </div>

</div>