@import '../../../../../assets/scss/color';

.teacher-grades {
    background: $white;
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;


    .header {
        display: grid;
        grid-template-columns: 50% auto;
        box-sizing: border-box;
        border-bottom: 1px solid $cloud;
        margin-bottom: 4rem;

        .name {
            padding: 1rem .5rem;
            font-weight: 600;
            position: relative;
            top: .5rem;
            color: $primary;
        }

        .switch {
            display: grid;
            grid-template-columns: 30% 40% auto;

            span {
                display: block;
                position: relative;
                top: 1.4rem;
                font-weight: 600;
                font-size: .7rem;
                color: $primary;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 1rem;

        .header {
            grid-template-columns: 100%;

            .switch {
                .label {
                    display: none;
                }

                grid-template-columns: 50% auto;
            }
        }
    }
}

.add-new {
    a {
        display: block;
        position: relative;
        top: .6rem;
        left: 2rem;
        font-size: .8rem;
        background: $primary-purple;
        color: $white;
        padding: .4rem 1rem;
        width: 8rem;
        text-align: center;
        border-radius: .2rem;
        font-weight: 600;
        cursor: pointer;
    }

    @media only screen and (max-width: 600px) {
        a {
            left: 0;
            width: 80%;
            margin: 0 auto;
        }

    }
}

.edit-grade {
    cursor: pointer;
    position: relative;
    margin-left: 2rem;
    top: .3rem;
    background: $cloud;
    border-radius: .3rem;
    padding: .2rem;
}

 