<div class="main-section">
  <div class="header">
    <h1>
      parents
    </h1>
    <div class="bread-crumb">
      <a (click)="toParents()" class="home">parents </a> / <a class="cta">register a new parent</a>
    </div>
  </div>
  <div class="col-1-of-2">
    <div class="container-section content">

      <div class="col-1-of-1 header">
        <h1>
          add a new parent
         </h1>
      </div>
      <div class="container-body">
        <form class="form" [formGroup]="rForm" (ngSubmit)="save(rForm.value)">
          <div class="controls">
            <label for="">FullName <span>*</span></label> <br />
            <input type="text" class="input-field" formControlName="FullName" />
            <div class="alert" *ngIf="!rForm.controls['FullName'].valid && rForm.controls['FullName'].touched">
              FullName is a required field.
            </div>
          </div>

          <div class="controls">
            <label for="">ID Number <span>*</span></label> <br />
            <input type="text" class="input-field" formControlName="IDNumber" />

            <div class="alert" *ngIf="!rForm.controls['IDNumber'].valid && rForm.controls['FullName'].touched">
              Id Number is a required field.
            </div>
          </div>
          <div class="controls">
            <label for="">Gender <span>*</span></label> <br />
            <select class="input-field" formControlName="Gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <div class="alert" *ngIf="!rForm.controls['Gender'].valid && rForm.controls['FullName'].touched">
              Gender is a required field.
            </div>
          </div>

          <div class="controls">
            <label for="">Cellphone <span>*</span></label> <br />
            <input type="text" class="input-field" formControlName="Cellphone" />
            <div class="alert" *ngIf="!rForm.controls['Cellphone'].valid && rForm.controls['FullName'].touched">
              Cellphone is a required field.
            </div>
          </div>

          <div class="controls">
            <label for="">Email <span>*</span></label> <br />
            <input type="email" class="input-field" formControlName="Email" />
            <div class="alert" *ngIf="!rForm.controls['Email'].valid && rForm.controls['FullName'].touched">
              Email is a required field.
            </div>
          </div>

          <div class="controls">
            <label for="">Address <span>*</span></label> <br />
            <input type="text" class="input-field" formControlName="Address" />
            <div class="alert" *ngIf="!rForm.controls['Address'].valid && rForm.controls['FullName'].touched">
              Address is a required field.
            </div>
          </div>


          <div class="controls actions">
            <div class="col-1-of-2">
              <a (click)="toParents()" class="abort">cancel</a>
              <input type="submit" value="Register Parent" class="action-button" [disabled]="!rForm.valid" />
            </div>
          </div>
          <div *ngIf="error" class="error">{{error}}</div>
        </form>
      </div>
    </div>
  </div>

</div>
