.my-profile {
    .dp-img {
        cursor: pointer;

        &.round-dp {
            height: 10rem;
            width: 10rem;
            margin: 0 auto;
        }

        i {
            position: absolute;
            left: 17.5rem;
            top: 15rem;
            color: grey;
            opacity: .5;
        }
    }

    &.col-1-of-4 {
        grid-template-columns: 15% 25% 25% auto;

        div.tab {
            border-right: 2px solid $cloud;

            &:last-child {
                border-right: none;
            }
        }

    }

    .user-profile {
        text-align: center;
        padding-bottom: 0;
        margin-top: 0rem;
        padding: 1rem 0;

        h1 {
            font-weight: 500;
            font-size: 12px;
            margin: 0;
        }
  

        .role {
            text-align: left;
            padding: 1rem 0;
            padding-right: 1rem;

            h1.h1 {
                font-weight: 700;
                font-size: .85rem;
                color: $grey;
                margin-bottom: .5rem;
                border-bottom: 1px solid $grey;

                &:last-child() {
                    margin-bottom: 0;
                    border-bottom: none;
                }

                span {
                    display: block;
                    font-weight: 400;
                    color: $black;
                }

            }
        }
    }

    .company-profile {
        margin: 0.5rem;
        padding: 1rem;
        
        img {
            height: 5rem;
        }
    }

    .form {
        .form-group {
            label {
                font-size: .75rem;
                color: $grey;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .dp-img {

            i {
                left: 11.5rem;
                top: 16rem;
            }
        }

        &.col-1-of-4 {
            grid-template-columns: 100%;
        }
    }
}