.home {
    .get-started {

        &.desktop {
            display: block;
        }

        &.col-1-of-2 {
            grid-template-columns: 35% auto;
        }

        button {
            &.mat-primary {
                width: 11.063rem;
                height: 3.625rem;
                margin: 2rem 0;
            }
        }

        &.mobile {
            display: none;
        }

        @media only screen and (max-width: 600px) {
            &.mobile {
                padding: .5rem;
                position: fixed;
                z-index: 99999;
                bottom: .5rem;
                width: 95%;
                left: 0.625rem;
                display: block;
            }

            &.desktop {
                display: none;
            }

            &.col-1-of-2 {
                grid-template-columns: 100%;
            }

            img {
                width: 19rem;
            }

            button {
                &.mat-primary {
                    width: 100%;
                    margin: 2rem 0;
                }
            }

        }
    }
}