<div class="container">
  <h1>PREPARING STUDENTS FOR A <span style="color: #FDC500">SUCCESSFUL
      FUTURE!</span></h1>
  <p>Make education your dream and it will help you to fulfill your dream.Education takes us to heights of success
  </p>
  <button>Read More...</button>
</div>
<div class="heading">
  <h1> The Story of Siphiwe Secondary School</h1>
</div>
<div class="about-us-content">
  <div class="paragraph">
    <h5>Head of school's welcome</h5>
    <p>
      A culture of high expectations and a commitment to nurturing the talents and developing the gifts of every
      student underpins the culture of Mthombisi High School. We are student centred with a strong focus on
      individuals. Teachers offer many opportunities to stretch and challenge all, including the most able.
    </p><br>
    <p>
      Exceptional teaching is the building block of our success. We blend the traditional with the innovative to give
      our students the best experiences in the classroom, laboratory or on the playing field.
    </p><br>
    <p>
      We monitor students’ progress carefully at all key stages. Quite simply, our aspiration is that every student
      makes exceptional progress; those who would benefit from additional support in any aspect of their learning and
      those with marked aptitudes are identified early and given specialist support to reach their full potential.
    </p><br>
    <p>
      We emphasise the engagement of learning within a caring, purposeful and stimulating environment where every
      student is encouraged to succeed. We embrace the language and culture of South Africa to prepare our students for
      their career life.
    </p><br>
    <p>
      We have an experienced, superb staff who educate and inspire. It is our hope that you will be excited by our
      school and that your daughter will embrace our core values of love, community, integrity.
    </p>
    <br>
    <h5>
      Best Wishes <br> Mr.Mandla Hlatshwayo <br><i>Head Of School</i>
    </h5>
  </div>
  <div class="content">
    <img src="../../../../assets/images/home-page/principal.png" alt="principal">
  </div>
</div>

<div class="testimonials">
  <h1>What Parents Say about Our School</h1>
  <div class="cards">
    <div class="card">
      <img src="../../../../assets/images/home-page/mom2.1.jpg" alt="mother">
      <h3>Miss Mbatha</h3>
      <p>
        Sithanda ukubonga ngosizo lika Mr Mbense ekuhleleni umcimbi omuhle kakhulu wosuku
        lokuzalwa lomntwana wethu u Zakhele Mbatha.Okubaluleke kakhulu, izingane zazijabulela kakhulu imidlalo futhi
        zaba
        nesikhathi esihle kakhulu.
      </p>
    </div>
    <div class="card">
      <img src="../../../../assets/images/home-page/dad1.jpg" alt="father">
      <h3>Mr S'beko</h3>
      <p>Siyabonga ngokunikela inkulisa enhle kangaka ngemisebenzi eminingi kangaka yothisha. U Xolani
        uyasithanda kakhulu iSiphiwe Secondary Schoolf uthi nathi siyayithanda. </p>
    </div>
    <div class="card">
      <img src="../../../../assets/images/home-page/mom1.jpg" alt="mother">
      <h3>Mrs.Nkosi</h3>
      <p>
        In these few months
        we like the place and the culture. As I moved a lot and experinced to see different schools but , from my bottom
        of my heart I can say Siphiwe Secondary School is the best school in all respects.</p>
    </div>
  </div>
</div>
<div class="Pride">
  <h1>Our Pride</h1>
  <div class="cards">
    <div class="card">
      <img src="../../../../assets/images/home-page/soccer.jpg" alt="soccer ball">
      <h3>Extra-Curricula</h3>
      <p>We nurture and develop all that is best in each of our students at Siphiwe Secondary School In sport,
        as in so many areas of school life, we provide a range of options, giving all learners the chance to discover
        where their interest in sport is.</p>
    </div>
    <div class="card">
      <img class="edu" src="../../../../assets/images/home-page/department-logo.png" alt="department-logo">
      <h3>Accreditation</h3>
      <p>Gauteng Department of Education is the premier Gauteng Province Government accreditation body for schools.
        Siphiwe Secondary School is fully accredited by Gauteng Department of Education GDE 700400892.</p>
    </div>
    <div class="card">
      <img src="../../../../assets/images/home-page/campus.jpg" alt="campus">
      <h3>School Campus</h3>
      <p>We emphasise the engagement of learning within a caring, purposeful and stimulating environment where every
        student is encouraged to succeed. We embrace the language and culture of South Africa to prepare our students
        for their career life.</p>
    </div>
  </div>
</div>
<div class="stats">
  <div class="cards">
    <div class="card">
      <img src="../../../../assets/images/home-page/trophie1.png" alt="trophie">
      <h1>30</h1>
      <p>Our Sports Winnings</p>
    </div>
    <div class="card">
      <img src="../../../../assets/images/home-page/campusicon.png" alt="campusicon">
      <h1>11</h1>
      <p>School Patners</p>
    </div>
    <div class="card">
      <img src="../../../../assets/images/home-page/grad.png" alt="gradcap">
      <h1>96%</h1>
      <p>Matric Pass Rate</p>
    </div>
    <div class="card">
      <img src="../../../../assets/images/home-page/teachersicon.png" alt="people">
      <h1>25</h1>
      <p>Professional Teachers</p>
    </div>
  </div>
</div>
<div class="news">
  <h1>Latest News</h1>
  <div class="cards">
    <div class="card">
      <img src="../../../../assets/images/home-page/choir.jpg" alt="Choir">
      <h3>School Choir Win Again!!</h3>
      <h6>August,05,2019</h6>
      <p>Our School Choice has done it again. after a long month of practing for this tough competion and exam at the
        same time, our champs has once again managed to bring back the gold medal...</p>
        <div class="btn">
      <button>Read More...</button>
    </div>
    </div>
    <div class="card">
      <img src="../../../../assets/images/home-page/imbokodo.jpg" alt="imbokodo">
      <h3>National Woman's Day</h3>
      <h6>August 08,2019</h6>
      <p>On Friday 9 August, South Africa celebrates National Women’s Day. We commemorate, specifically, the 20 000
        women who marched to the Union Building..</p>
        <div class="btn">
      <button>Read More...</button>
    </div>
    </div>
    <div class="card">
      <img src="../../../../assets/images/home-page/grant-4.jpg" alt="">
      <h3> Ikusasa Lethu</h3>
      <h6>August 05,2019</h6>
      <p>Mandela Day used clothing collection Thank you to all those who donated clothing and linen for the pupils of
        our Ikusasa Lethu programme..</p>
      <div class="btn">
        <button>Read More...</button>
      </div>
    </div>
  </div>
</div>