<div class="home">
  <app-home-nav></app-home-nav>

  <div class="intro">
    <div class="">
      <h1>
        Start teaching your students from anywhere!
        <span>
          Learning management system for learners at every level.
        </span>
        <span>
          Engaging learning experiences with videos and images.
        </span>
        <span>
          Online assessments and same time results.
        </span>
      </h1>

      <button mat-button color="primary" (click)="getStarted()">
        Get started
      </button>
    </div>

    <div class="showcase">
      <img class="home-image" src="assets/images/common/main-home.png" alt="">
    </div>
  </div>



  <div class="see-examples">
    <h1>
      Let's walk you through
    </h1>
    <div class="example">
      <h1>
        Student online test example.
      </h1>

      <video  controls>
        <source src="assets/vids/test.mp4" type="video/mp4">
      </video>
    </div>
    <div class="example">
      <h1>
        Online lesson example.
      </h1>

      <video  controls>
        <source src="assets/vids/teach.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="see-examples">
   <div class="cta">
    <h1>
      Do you think this will change the game in your institution?
    </h1>
    <button mat-button color="primary" (click)="getStarted()">
      Create your institution account.
    </button>
   </div>
    </div>
</div>








<!-- <div class="banner">
  <h1 class="big-header">
    Start teaching and testing your students online
  </h1>
  <h1 class="sub-header">
    start a plan with us and enjoy membership benefits such as study material (downloadable) & online video tutorials to
    catch up on past modules.
  </h1>
  <button mat-button color="primary" (click)="getStarted()">
    Get started
  </button>
</div>
<div class="image">
  <img src="assets/images/home/study-book.svg" alt="study book image">
</div>

<div class="tools">
  <h1 class="main">
    Modern mobile tools for modern individuals.
  </h1>
  <div class="tool-section col-1-of-3">
    <div class="tool col-1-of-1">
      <img src="assets/images/home/tool-1.svg" alt="tool 1">
      <h1 class="text">
        Communication based on individual needs.
      </h1>
    </div>
    <div class="tool col-1-of-1">
      <img src="assets/images/home/tool-2.svg" alt="tool 2">
      <h1 class="text">
        Access study material based on purchases of packages.
      </h1>
    </div>
    <div class="tool col-1-of-1">
      <img src="assets/images/home/tool-3.svg" alt="tool 3">
      <h1 class="text">
        Synchronized courses based on your curriculum subjects.
      </h1>
    </div>
  </div>
</div>

<div class="posts" style="display: none;">
  <h1 class="main">
    Latest posts
  </h1>
  <div class="post-section col-1-of-2">
    <div class="tips">
      <img src="assets/images/home/posts.svg" alt="posts svg">
      <div class="quick-tip">
        <h1 class="sub-main">Quick tips</h1>
        <h1 class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
        </h1>
      </div>
    </div>
    <div class="news-feed">
      <div class="feed">
        <h1 class="timespan">
          15 Jul 2020
        </h1>
        <h1 class="sub-main">Sum heading over here from the board.</h1>
        <h1 class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
        </h1>
      </div>
      <div class="feed">
        <h1 class="timespan">
          15 Jul 2020
        </h1>
        <h1 class="sub-main">Sum heading over here from the board.</h1>
        <h1 class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
        </h1>
      </div>
      <div class="feed">
        <h1 class="timespan">
          15 Jul 2020
        </h1>
        <h1 class="sub-main">Sum heading over here from the board.</h1>
        <h1 class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
        </h1>
      </div>
      <div class="feed">
        <h1 class="timespan">
          15 Jul 2020
        </h1>
        <h1 class="sub-main">Sum heading over here from the board.</h1>
        <h1 class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
        </h1>
      </div>
      <div class="feed">
        <h1 class="timespan">
          15 Jul 2020
        </h1>
        <h1 class="sub-main">Sum heading over here from the board.</h1>
        <h1 class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="get-started col-1-of-2">
  <div class="caption">
    <h1 class="main">
      Ready to start your online learning?
    </h1>
    <h1 class="text">
      Sign up for a free trial account and start experiencing our product offering.
    </h1>
    <button mat-button color="primary" (click)="getStarted()">
      Get started
    </button>
  </div>
  <img src="assets/images/home/get-started.svg" alt="posts svg">
</div> -->