<app-home-nav [showNav]="true"></app-home-nav>
<div class="home">
  <button mat-button
          class="get-started mobile"
          color="primary"
          (click)="getStarted()">
    Create institution account.
  </button>
  <div class="intro">
    <div class="">
      <h1>
        Welcome to a new way of delivering educational content.
        <span>
          Providing flexibility and aiding in making the task of arranging development
          opportunities far easier.
        </span>

      </h1>
      <button mat-button
              class="get-started desktop"
              color="primary"
              (click)="getStarted()">
        Create institution account.
      </button>
    </div>
    <div class="showcase">
      <img class="home-image"
           src="assets/images/home/home-image-desktop.svg"
           alt="">
    </div>
  </div>
</div>
<div class="banner-blue">
  <div class="content">
    <h1 class="h4">
      Become a member and teach your community of dedicated students or learners.
    </h1>
    <button mat-button
            class="get-started desktop"
            color="primary"
            (click)="getStarted()">
      Create institution account. </button>
  </div>
</div>

<div class="home">
  <div class="video-tutorials col-1-of-2">
    <div class="video">
      <video controls>
        <source src="assets/vids/test.mp4"
                type="video/mp4">
      </video>
    </div>
    <div class="typography">
      <h1 class="h6">
        our offering
      </h1>
      <h1 class="h4">
        Help learners/students achieve amazing results in their academics
      </h1>
      <h1 class="h5">
        ✔️ Learning management system for learners at every level.
      </h1>
      <h1 class="h5">
        ✔️ Engaging learning experiences with videos and images.
      </h1>
      <h1 class="h5">
        ✔️ Online assessments and same time results.
      </h1>
      <button mat-button
              class="get-started desktop"
              color="primary"
              (click)="getStarted()">
        Create institution account.
      </button>
    </div>
  </div>
  <div class="feature-grid col-1-of-2">
    <div class="features">
      <div class="feature">
        <h1 class="h4">
          Quick onboarding process.
          <span>
            Share your institute account via a unique link
          </span>
        </h1>
      </div>
      <div class="feature">
        <h1 class="h4">
          Multi user dashboards.
          <span>
            Each user persona is assigned their own view.
          </span>
        </h1>
      </div>
      <div class="feature">
        <h1 class="h4">
          Create multiple grade levels
          <span>
            Data driven tool for simple process initiations.
          </span>
        </h1>
      </div>
      <div class="feature">
        <h1 class="h4">
          Share multimedia content
          <span>
            From highlighted fonts to YouTube grade videos.
          </span>
        </h1>
      </div>
      <div class="feature">
        <h1 class="h4">
          User profile and customization
          <span>
            You will be granted your own personal profile.
          </span>
        </h1>
      </div>
    </div>
    <div class="feature-image">
      <img class=""
           src="assets/images/home/feature-image.svg"
           alt="">
    </div>
  </div>
  <div class="cta">
    <h1 class="h4">
      Do you think this will change the game in your institution?
    </h1>
    <button mat-button
            color="primary"
            (click)="getStarted()">
      Create institution account.
    </button>
  </div>
</div>



<app-loader [showLoader]="showLoader"
*ngIf="showLoader"></app-loader>