<div class="" *ngIf="tests">
  <div class="tests" *ngIf="tests.length; else nodata">
    <div class="test" *ngFor="let test of tests" (click)="preview(test)">
      <p>
        <span class="tittle">
          <span class="material-icons">
            playlist_add_check
          </span>
          {{test.Name}}</span>
        <span class="stat"> 5 took this test</span>
      </p>
    </div>

    <div class="test add-row">
      <div class="add">
        <button mat-button color="primary" (click)="add()"> Set a test</button>
      </div>
    </div>
  </div>

  <ng-template #nodata>
    <div class="nodata">
      <h1>
        You don't have any tests yet.
        <span (click)="add()">
          Add test
        </span>
      </h1>
    </div>
  </ng-template>
</div>

<div class="overlay" *ngIf="showModal || isDelete || showPreview" (click)="closeModal()"></div>
<div class="modal" *ngIf="showModal">
  <h1>
    {{modalHeading}}
  </h1>

  <div class="form">
    <label for="">Test title**</label>
    <input type="text" [(ngModel)]="current.Name">

    <label for="">Total marks**</label>
    <input type="number" [(ngModel)]="current.Marks">


    <!-- <label for="">Test duration</label>
    <input type="number" [(ngModel)]="duration"> -->



    <label for="">Test date</label>
    <input type="date" [(ngModel)]="current.TestDate">

    <div class="col-1-of-2">
      <div class="">
        <label for="">Start time</label>
        <input type="time" [(ngModel)]="current.TestTime">
      </div>
      <div class="">
        <label for="">Finish time</label>
        <input type="time" [(ngModel)]="current.FinishTime">
      </div>
    </div>

    <!-- <label for="">Show Result Same Time</label>
    <input type="checkbox" [(ngModel)]="showResultSameTime"> -->


    <button mat-button color="primary" (click)="save()"> Save Test</button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>


<div class="modal " *ngIf="isDelete">
  <div class="delete-modal">
    <h1>
      {{modalHeading}}
    </h1>


    <button mat-button color="primary" class="danger" (click)="save()"> Yes, delete</button>
    <button mat-button color="primary" class="secondary" (click)="closeModal()"> Cancel</button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>


<div class="modal test-modal" *ngIf="showPreview && current">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}} 
    <!-- <button mat-button (click)="edit()" style="float: right; width: 7rem;">
      Edit
    </button> -->
  </div>
  <div class="body">
    <app-test [test]="current"></app-test>
  </div>
</div>