<div class=""
     *ngIf="tests">
  <div class="list-items"
       *ngIf="tests.length; else nodata">
    <div class="item"
         *ngFor="let test of tests"
         (click)="preview(test)">
      <i class="material-icons">
        playlist_add_check
      </i>
      <h1 class="title">
        {{test.Name}}
        <span>
          test name
        </span>
      </h1>
      <h1 class="h1">{{test.CreateDate| date: 'mediumDate'}}
        <span>
          date created
        </span>
      </h1>
      <h1 class="stat">(5) 🎓 took test
        <span>
          quick stats
        </span>
      </h1>
    </div>

  </div>

  <app-actions-section [actionButtons]="actionButtons"
                       (clickedAction)="add()"
                       *ngIf="tests.length"></app-actions-section>

  <ng-template #nodata>
    <div class="nodata">
      <h1>
        You don't have any tests yet.
        <span (click)="add()">
          Add test
        </span>
      </h1>
    </div>
  </ng-template>
</div>

<div class="overlay"
     *ngIf="showModal || isDelete || showPreview"
     (click)="closeModal()"></div>
<div class="modal"
     *ngIf="showModal">
  <div class="modal-toolbar">
    <span class="material-icons"
          (click)="closeModal()">
      west
    </span>
    <h1 class="h1">
      {{modalHeading}}
    </h1>
  </div>

  <div class="form">
    <div class="form-group">
      <label for="">Test title**</label>
      <input type="text"
             [(ngModel)]="current.Name">
    </div>

    <div class="form-group">
      <label for="">Total marks**</label>
      <input type="number"
             [(ngModel)]="current.Marks">
    </div>

    <div class="form-group">
      <label for="">Test date</label>
      <input type="date"
             [(ngModel)]="current.TestDate">
    </div>



    <div class="col-1-of-2">
      <div class="form-group">
        <label for="">Start time</label>
        <input type="time"
               [(ngModel)]="current.TestTime">
      </div>
      <div class="form-group">
        <label for="">Finish time</label>
        <input type="time"
               [(ngModel)]="current.FinishTime">
      </div>
    </div>
    <div class="action">
      <button mat-button
              color="primary"
              (click)="save()"> Save Test</button>
      <h5 class="error"
          *ngIf="error">
        {{error}}
      </h5>
    </div>

  </div>
</div>


<div class="modal "
     *ngIf="isDelete">
  <div class="delete-modal">
    <div class="modal-toolbar">
      <span class="material-icons"
            (click)="closeModal()">
        west
      </span>
      <h1 class="h1">
        {{modalHeading}}
      </h1>
    </div>
    <button mat-button
            color="primary"
            class="danger"
            (click)="save()"> Yes, delete</button>
    <button mat-button
            color="primary"
            class="secondary"
            (click)="closeModal()"> Cancel</button>
    <div class="error"
         *ngIf="error">
      {{error}}
    </div>
  </div>
</div>


<div class="modal test-modal"
     *ngIf="showPreview && current">
  <div class="modal-toolbar">
    <span class="material-icons"
          (click)="closeModal()">
      west
    </span>
    <h1 class="h1">
      {{modalHeading}}
    </h1>
  </div>
  <div class="modal-content">
    <app-test [test]="current"></app-test>
  </div>
</div>