<div class="main">

  <div class="welcome">
    <div class="col-1-of-2">
      <div class="hello">
        <h1 class="user">
          Hi {{user.Name}},
          <span>
            What would you like to do today
          </span>
        </h1>
      </div>
      <!-- <pre>
  {{user | json}}
</pre> -->

      <div class="profile tar">
        <div class="user-dp">
          <div class="dp pc-only">{{user.Name[0]}}{{user.Surname[0]}}</div>
          <p class="pc-only">

            {{user.Name}} {{user.Surname}}
            <span class="status grade">{{user.Grade.Name}}</span>
          </p>

          <div class="sign-out">
            <img src="assets/images/common/off.svg" alt="log-off logo">
            <a mat-button (click)="signOut()">
              sign-out
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="recent topic">
    <h1>
      My Subjects
    </h1>

    <div class="ask-question">
      <button mat-button color="primary" class="post-btn" (click)="askQuestion()">
        Ask question
      </button>
    </div>




    <mat-tab-group>
      <mat-tab *ngFor="let studentsubject of studentsubjects ; let i = index" [label]="studentsubject.Subject.Name"
        (click)="selectSubject(i)">
        <div class="recent topic"
          *ngIf="studentsubject.Subject.Lessons && studentsubject.Subject.Lessons.length ; else nodata">
          <h1>
            {{studentsubject.Subject.Name}} <span class="lessons-heading">Lessons</span>
          </h1>
          <div class="topics">

            <div *ngFor="let item of studentsubject.Subject.Lessons" class="topics">
              <div class="line pointer" (click)="readTopic(item)">

                <div class="text">
                  {{i+1}}. {{item.Tittle}}
                </div>

                <div class="action">
                  <a>
                    <span class="material-icons">
                      arrow_forward
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>



        <div class="recent topic" *ngIf="studentsubject.Subject.Tests && studentsubject.Subject.Tests.length">
          <h1>
            {{studentsubject.Subject.Name}} <span class="lessons-heading">Tests</span>
          </h1>
          <div class="topics">

            <div *ngFor="let item of studentsubject.Subject.Tests" class="topics">
              <div class="line pointer" (click)="takeTest(item)">

                <div class="text">
                  {{i+1}}. {{item.Name}}
                </div>

                <div class="action">
                  <a>
                    <span class="material-icons">
                      arrow_forward
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>


        <ng-template #nodata>
          <div class="nodata">
            <h1>
              No content found for this subject!
            </h1>
          </div>
        </ng-template>

      </mat-tab>
    </mat-tab-group>
  </div>


</div>


<div class="overlay" *ngIf="showModal"></div>

<div class="modal" *ngIf="showLocked">


  <div class="form">
    <p>
      <span class="important">Hi {{user.Name}}</span>, your account is temporarily locked due to pending payment of
      <strong *ngIf="user.Billing && user.Billing.length && user.Billing[0]">
        {{user.Billing[0].AmountDue | currency:'R'}} </strong>
    </p>

    <div class="file" *ngIf="!user.Billing[0].PayProof">
      <p>
        If you already paid , please upload the proof of payment
      </p>
      <input type="file" accept="image/*" (change)="imageChanged($event)">

    </div>

    <p *ngIf="user.Billing[0].PayProof">
      We are busy verifying your payment we will send you the email as soon as your account is activated.
    </p>
    <div class="actions">

      <div class="sign-out">
        <img src="assets/images/common/off.svg" alt="log-off logo">
        <a mat-button (click)="signOut()">
          sign-out
        </a>
      </div>
    </div>
  </div>
</div>


<div class="modal" *ngIf="showAskQuestion">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>




  <div>
    <div class="form">
      <label for="">Content tittle**</label>
      <input type="text" [(ngModel)]="tittle">

        <label for=""> Create your content here </label>
        <quill-editor [styles]="editorStyle" [(ngModel)]="contentBody">
  
        </quill-editor>
        <br>
      <button mat-button color="primary" (click)="formatBody()">  Review your question</button>
      <div class="error">
        {{error}}
      </div>
    </div>

  </div>


</div>