img.icon {
  width: 173px;
}
  .header {
    padding: 0 1rem;
    margin-bottom: 1rem;
    box-shadow: 3px 7px 6px -9px rgba(0, 0, 0, 0.45);

    h1 {
      font-weight: 500;
    }
  }

a.cta {
  margin-left: 1rem;
  font-size: 12px;
  cursor: pointer;
}
