<div class="container-section" *ngIf="learnerParents | async; let item">
  <div class="col-1-of-1 header">
    <h1>
      {{item.firstName}} {{item.lastName}} parent(s)
    </h1>
  </div>
  <div class="table-container">
    <!-- <div class="table-body">
        <div class="table-cols" *ngFor="let parent of item.parents">
          <h1>
              {{parent.fullName}}
          </h1>
          <h1>
              {{parent.cellphone}}
          </h1>
          <h1>
              {{parent.email}}
          </h1>
          <h1>
              {{parent.idNumber}}
          </h1>
          <a class="cta" (click)="viewLearnerDetails(item.learnerId)">send message</a>
        </div>
      </div> -->
    <div class="table-wrapper">
      <table class="fl-table">
        <tbody>
          <tr *ngFor="let parent of item.parents">
            <td>
                {{parent.fullName}}
            </td>
            <td>
                {{parent.cellphone}}
            </td>
            <td>
                {{parent.email}}
            </td>
            <td>
                {{parent.idNumber}}
            </td>
            <td>
                <a class="cta" (click)="viewLearnerDetails(item.learnerId)">send message</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
