<div class="main-section">
    <h1>
        School asserts
    </h1>
    <div class="container-section">
      <h1>
          Add new assert
      </h1>
      <div class="form" >
          <div class="controls">
            <label for="">Category <span>*</span></label> <br />
            <p-autoComplete [(ngModel)]="Category" [suggestions]="searchResults" (completeMethod)="search($event)"></p-autoComplete>
            <div class="alert" *ngIf="!Category">
                Category  is a required field.
            </div>
          </div>
        
    
          <div class="controls">
            <label for="">Description <span>*</span></label> <br />
            <input type="text"  [(ngModel)]="Description" class="input-field"  />
            <div class="alert" *ngIf="!Description">
                Description is a required field.
            </div>
          </div>

          <div class="controls">
            <input type="submit" value="Save" (click)="addAssert()" class="action-button" [disabled]="!Category || !Description" />
          </div>
          <div *ngIf="error" class="error">{{error}}</div>
        </div>


      
    </div>
  </div>
  <p-toast></p-toast>
