<h3>
  <span class="material-icons" (click)="back()">
    west
  </span>
  Teacher profile
</h3>
<div class="main-list" *ngIf="teacher">

  <app-user-profile [user]="teacher"></app-user-profile>
  <div class="more">
    <mat-tab-group>
      <mat-tab label="Teacher Subjects">
        <div *ngIf="teacher.Teachersubjects">
          <div *ngIf="teacher.Teachersubjects.length; else nodata">
            <div class="teacher-subject" *ngFor="let teachersubject of teacher.Teachersubjects">
              <h1>
                {{teachersubject.Grade.Name}}
                <span>
                  {{teachersubject.Subject.Name}}
                </span>
              </h1>
            </div>
            <div class="save-all">
              <button mat-button color="primary" (click)="add()">  Assign subjects</button>
            </div>
          </div>
          <ng-template #nodata>
            <div class="nodata">
              <h1>
                This teacher is not assigned to any subjects.
                <span (click)="add()">
                  Assign subjects
                </span>
              </h1>
            </div>
          </ng-template>
        </div>
      </mat-tab>
      <!-- <mat-tab label="Perfomance">
      </mat-tab> -->

    </mat-tab-group>
  </div>
</div>

<div class="overlay" *ngIf="showModal" (click)="closeModal()"></div>
<div class="modal" *ngIf="showModal">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div class="assign">
    <div class="grades">
      <div *ngFor="let grade of grades" (click)="viewGrade(grade)" [ngClass]="grade.Class">
        {{grade.Name}}

        <div class="grade-details" *ngIf="grade.Viewing">
          <div class="option" *ngFor="let subject of grade.Subjects" [ngClass]="subject.Class"
            (click)="selectSubject(subject)">
            {{subject.Name}}
          </div>
        </div>
      </div>
    </div>
    <div class="action">
      <div class="save-all">
        <button mat-button color="primary" (click)="saveAll()"> Save subjects</button>
      </div>
    </div>
  </div>
</div>