@import '../../../../../assets/scss/color';
h3{
    span{
        position: relative;
        top: .4rem;
        margin-right: 2rem;
        cursor: pointer;
    }
}

.more{
    padding: 1rem 4rem;
}

.grades{
    display: flex;
    .grade{
        margin: .5rem 1rem;
        padding: .5rem 2rem;
        background: $cloud;
        border-radius: 1.5rem;
        position: relative;
        cursor: pointer;
        .grade-details{
            // animation: animationFadeIn .8s ease-in-out ;
            position: fixed;
            padding: 1rem;
            background:  $cloud;
            width: 61%;
            height: 25rem;
            top: 13rem;
            left: 16rem;
            color: $black !important;
            .option{
                padding: .8rem 2rem;
                background: $white;
                width: 40%;
                margin: .5rem 0;
                border-radius: 1.5rem;
                cursor: pointer;
            }
            .active{
                border: 2px solid $primary;
                color: $primary;
            }
        }
    }
    .active{
        background: $primary;
        color: $white;
    }
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: $black;


    &:checked {
        background: red;
    }
}

mat-checkbox {
    top: .6rem;
    position: relative;
}


.teacher-subject{
    background: $white;
    h1{
        font-size: 1.4rem;
        span{
            display: block;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}