<div class="container-section" *ngIf="learners; let item">
  <div class="col-1-of-1 header">
    <h1>
      {{item.fullName}}'s children
    </h1>
  </div>
  <div class="table-container" *ngIf="item.learners">
    <div class="table-wrapper" *ngIf="item.learners.length; else nodata">
      <table class="fl-table">
        <tbody>
          <tr *ngFor="let learner of item.learners">
            <td>
                {{learner.firstName}}
            </td>
            <td>
                {{learner.lastName}}
            </td>
            <td>
                {{learner.gender}}
            </td>
            <td>
                {{learner.idNumber}}
            </td>
            <td>

                <!-- learnerId: string;
  firstName: string;
  lastName: string;
  gender: string;
  race: string;
  dateOfBirth: string;
  idNumber: string;
  schoolName: string;
  grade: string;
  section: string;
  statusId: number; -->
                <!-- <a class="cta" (click)="viewLearnerDetails(item.learnerId)">send message</a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #nodata>
      <p>
        Could not find learners for parent for {{item.fullName}}
      </p>
    </ng-template>
  </div>
</div>
