<div class="container-fluid"
     *ngIf="!showModal">
  <app-breadcrumb [crumbs]="crumbs"></app-breadcrumb>
  <app-header-banner [headerBanner]="headerBanner"></app-header-banner>
  <div class="container">
    <div class="view-container col-1-of-2">
      <div class="panel detail-card">
        <div class="profile">
          <app-user-dp></app-user-dp>
          <div class="details">
            <h1 class="h1">
              {{user.Name}} {{user.Surname}}
              <span>
                Full name
              </span>
            </h1>
            <h1 class="h1">
              {{user.CreateDate | date: 'fullDate'}}
              <span>
                Registered Date
              </span>
            </h1>
            <div class="role"
                 *ngIf="user.Roles[0] as role">
              <h1 class="h1">
                {{role.RoleName}}
                <span>
                  Role
                </span>
              </h1>
            </div>
            <h1 class="h1">
              {{user.Email}}
              <span>
                Email
              </span>
            </h1>
            <h1 class="h1">
              {{user.PhoneNumber}}
              <span>
                Contact number
              </span>
            </h1>
          </div>
        </div>
      </div>
      <div class="list-card">
        <div class="card"
             *ngIf="user.Company as company">
          <div class="card-header">
            <h1 class="h1">
              Company info
            </h1>
          </div>
          <div class="card-content">
            <div class="image">
              <img src="assets/images/common/school.svg"
                   alt=""
                   *ngIf="!company.Dp">
              <img [src]="company.Dp"
                   alt=""
                   *ngIf="company.Dp">
            </div>
            <div class="details">
              <h1 class="h1">
                {{company.Name}}
                <span>Name</span>
              </h1>
              <h1 class="h1">
                {{company.Handler}}
                <span>Handler</span>
              </h1>
            </div>
          </div>
        </div>
        <div class="card"
             *ngIf="user.Company.Institutions[0] as institution">
          <div class="card-header">
            <h1 class="h1">
              Institution info
            </h1>
          </div>
          <div class="card-content">
            <div class="details">
              <h1 class="h1">
                {{institution.InstitutionType.Name}}
                <span>Name</span>
              </h1>
              <h1 class="h1">
                {{institution.InstitutionType.CreateDate | date: 'mediumDate'}}
                <span>
                  Registered Date
                </span>
              </h1>
            </div>
            <div class="details">
              <h1 class="h1">
                {{institution.InstitutionType.Description}}
                <span>Description</span>
              </h1>
              <h1 class="h1">
                {{institution.Grades.length}}
                <span>Number of grades / levels</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-actions-section [actionButtons]="actionButtons"
                       (clickedAction)="onClickedAction($event)"></app-actions-section>


</div>

<app-edit-profile *ngIf="showModal && isUpdate"
                  [user]="user"
                  (closeModal)="closeModal()"
                  (onClicked)="onClickedAction($event)">
</app-edit-profile>