<div class="nav">
  <div class="items">
    <div class="item logo">
      <img src="assets/images/common/logo-home.png" alt="" (click)="goto('')">
    </div>

    <div class="item">
      <a mat-button class="features" (click)="goto('features')">
        Features
      </a>
    </div>
    <div class="item">
      <a mat-button class="sign-up" (click)="goto('sign-up')">
        Create organization account.
      </a>
    </div>
    <div class="item">
      <a mat-button class="sign-in" color="primary" (click)="goto('sign-in')">
        Login
      </a>
    </div>
  </div>
</div>