<div class="nav">
  <div class="items">
    <div class="item logo">
      <img src="assets/images/common/logo-home.png"
           alt=""
           (click)="goto('')">
    </div>
    <div class="item">
      <!-- <a mat-button class="features" (click)="goto('features')">
        Features
      </a> -->
    </div>
    <div class="item">
      <a mat-button
         class="sign-up"
         (click)="goto('before-start')">
        Create organization account.
      </a>
    </div>
    <div class="item">
      <a mat-button
         class="sign-in"
         color="primary"
         (click)="goto('sign-in')">
        Sign in
      </a>
    </div>
  </div>
</div>
<div class="mobile-nav">
  <img src="assets/images/common/arrow.svg"
       alt="feed"
       class="hl-off"
       *ngIf="!showNav"
       (click)="goto('')">
  <div class="items"
       *ngIf="showNav">
    <img src="assets/images/common/logo-home.png"
         class="logo"
         alt=""
         (click)="goto('')">
    <!-- <img src="assets/images/common/burger-menu.svg"
         alt="feed"
         class="menu"> -->
    <div class="item">
      <a mat-button
         class="sign-in"
         color="primary"
         (click)="goto('sign-in')">
        Sign in
      </a>
    </div>
  </div>
</div>