@import '../../../../assets/scss/color';

.nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 5rem;
    width: 100%;
    background: $white;
    z-index: 1000;
    border-top: 3px solid $primary;
    padding: 1rem 19rem;
    box-sizing: border-box;

    .items {
        display: grid;
        grid-template-columns: 45% 10% 30% 15%;

        .item {
            text-align: center;

            button {
                font-weight: 400;
                padding: .5rem 1rem;
                border-radius: .2rem;
                width: 15rem;
                margin: 0 1rem;
                float: right;
            }

            .login {
                color: $primary !important;
                background: $white;
                border: 2px solid $primary;
            }
        }

        .logo {
            text-align: left;

            img {
                width: 10rem;
                cursor: pointer;
            }
        }
    }

    .sign-up {
        background: $primary;
        color: $white;
        padding: .2rem 1rem;
        border-radius: $border-radius;
        font-size: 1rem;
    }

    .sign-in {
        background: $white;
        color: $primary;
        border-radius: $border-radius;
        padding: .2rem 2rem;
        border: solid 2px $primary;
        font-size: 1rem;
    }

    .features {
        background: $cloud;
        color: $black;
        border-radius: 2rem;
        padding: .2rem 2rem;
    }


    @media screen and (max-width: 600px) {
        display: none;
    }
}

.mobile-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 5rem;
    width: 100%;
    background: $white;
    z-index: 1000;
    box-shadow: $box-shadow;
    padding: 1rem;
    box-sizing: border-box;
    display: none;

    .items {
        display: grid;
        grid-template-columns: 50% auto;

        img {
            &.logo {
                height: 2rem;
            }

            &.menu {
                margin-left: 8rem;
            }
        }

        .sign-up {
            font-size: .85rem;
        }
        .sign-in {
            background: $primary;
            color: $white;
            font-weight: 300;
            border-radius: 0.313rem;
            padding: .1rem 2rem;
            float: right;
        }
    }

    @media screen and (max-width: 600px) {
        display: block;
    }
}