<div class="headers">
  <app-breadcrumb [crumbs]="crumbs"></app-breadcrumb>
  <app-header-banner [headerBanner]="headerBanner" (showModalEventEmitter)="add()"></app-header-banner>
</div>
<div class="main-list" *ngIf="topic">
  <div class="items" *ngIf="topicContentList.length; else nodata">
    <div class="item" *ngFor="let item of topicContentList" (click)="open(item.TopicId)">
      {{item.Tittle}}
      <div class="details">
        <div class="icon">
          <img src="assets/images/dashboard/subject-icon.svg" *ngIf="!item.ContentType  || item.ContentType === 'File'"
            alt="">
          <img src="assets/images/dashboard/video-icon.svg" *ngIf="item.ContentType === 'Video'" alt="">
          <img src="assets/images/dashboard/subject-icon.svg" *ngIf="item.ContentType === 'Blog'" alt="">
        </div>
        <div class="data" *ngIf="!item.ContentType">
          <i>No content</i>
        </div>
        <div class="data" *ngIf="item.ContentType === 'Video'">

          <iframe width="560" height="315" [src]="item.ContentBody" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="data" *ngIf="item.ContentType === 'File'">
          <h1>
            <span>
              <a [href]="item.ContentBody" target="_blank">
                Open file
              </a>
            </span>
          </h1>
        </div>
        <div class="data" *ngIf="item.ContentType === 'Blog'">
          <button mat-button  (click)="preview(item)"> 
            <a>
              <span class="material-icons">remove_red_eye</span> Preview
            </a>
          </button>

          <button mat-button (click)="edit(item)">
            <a >
              <span class="material-icons">edit</span> Edit
            </a>
          </button>
        </div>
        <div class="data">

        </div>
        <div class="data">
          <div class="action" (click)="options(item)">
            <img src="assets/images/dashboard/action-dots.svg" alt="">
          </div>
        </div>
        <div class="viewing" *ngIf="item.Viewing">
          <ul>
            <li (click)="edit(item)"><span class="material-icons">edit</span>Edit</li>
            <li (click)="delete(item)" class="delete"><span class="material-icons">delete_outline</span>Delete</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <ng-template #nodata>
    <div class="nodata">
      <h1>
        No content found for {{topic?.Name}}
        <span (click)="add()">
          Add content
        </span>
      </h1>
    </div>
  </ng-template>


</div>

