<mat-tab-group *ngIf="test">
  <mat-tab label="Questions">

    <div class="main-list" *ngIf="test">

      <div class="" *ngIf="test.Questions">
        <div class="questions" *ngIf="test.Questions.length; else nodata">
          <div class="question" *ngFor="let question of test.Questions" (click)="preview(question)">
            <p>
              <span class="tittle">
                <span class="material-icons">
                  description
                </span>
                {{question.Question}}</span>
              <span class="stat"> 5 people read this</span>
            </p>
            <div class="answers">
              <div *ngFor="let answer of question.Answers">

                <div class="answer" *ngIf="answer.StatusId === '1'">
                  <div class="col value">
                    <input type="text" [(ngModel)]="answer.Answer">
                  </div>

                  <div class="col is-correct">
                    <mat-checkbox [(ngModel)]="answer.IsCoorect"></mat-checkbox>
                  </div>

                  <div class="col value">
                    <button mat-button color="primary" class="btn btn-remove" (click)="deleteAnswer(answer)">
                      <span class="material-icons">
                        delete_outline
                      </span>
                    </button>
                  </div>

                </div>

              </div>
            </div>
            <div class="add">
              <button class="secondary" (click)="addAnswer(question)">Add answer</button>
              <button (click)="saveAnswers(question.Answers)">Save answers</button>
            </div>
          </div>

          <div class="question add-row">
            <div class="add">
              <button mat-button color="primary" (click)="addQuestion()"> Add new question</button>
            </div>
          </div>
        </div>

        <ng-template #nodata>
          <div class="nodata">
            <h1>
              You don't have any questions yet.
              <span (click)="addQuestion()">
                Add question
              </span>
            </h1>
          </div>
        </ng-template>
      </div>



      <ng-template #nodata>
        <div class="nodata">
          <h1>
            No sections found for {{test?.Name}}
            <span (click)="add()">
              Add section
            </span>
          </h1>
        </div>
      </ng-template>


    </div>
  </mat-tab>
  <mat-tab label="Results">
    <div class="heading">
      <div class="">
        <h4>
          Results for <b>{{test.Name}} </b>
        </h4>
      </div>
    </div>

    <div class="students main-list">
      <div class="student" *ngFor="let student of test.Students  ; let i = index" (click)="viewTestAnswers(student)">
        <div class="user-dp">
          <div class="dp">
            {{student.User.Name[0]}}{{student.User.Surname[0]}}
          </div>

          <p>
            {{student.User.Name}} {{student.User.Surname}}
            <span class="date">
              {{student.CreateDate | date: 'medium'}}
            </span>
          </p>

          <p>
            {{student.Score}}%
          </p>
        </div>
      </div>
    </div>



  </mat-tab>
</mat-tab-group>

<div class="overlay" *ngIf="showModal || isDelete || addingQuestion || showStudentAnswers" (click)="closeModal()"></div>
<div class="modal" *ngIf="showModal">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>
  <div class="form">
    <label for="">Section name**</label>
    <input type="text" [(ngModel)]="name">


    <button mat-button color="primary" (click)="saveSection()"> Save Section</button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>


<div class="modal" *ngIf="isDelete">
  <div class="delete-modal">
    <div class="close" (click)="closeModal()">
      <span class="material-icons">
        west
      </span> {{modalHeading}}
    </div>


    <button mat-button color="primary" class="danger" (click)="saveSection()"> Yes, delete</button>
    <button mat-button color="primary" class="secondary" (click)="closeModal()"> Cancel</button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>


<div class="modal" *ngIf="addingQuestion">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div class="form">
    <label for="">Question**</label>
    <textarea name="" [(ngModel)]="question"></textarea>

    <label for="">Score</label>
    <input type="text" [(ngModel)]="score">

    <span *ngIf="!contentBody">
      <label for="">Uplaod the image </label>
      <input type="file" multiple (change)="imageChanged($event)">
    </span>

    <span *ngIf="contentBody">
      <img class="uploadedImage" [src]="contentBody" alt="">
    </span>


    <button mat-button color="primary" (click)="saveQuestion()"> Save question</button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>

<div class="modal" *ngIf="showStudentAnswers">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div>
    <div *ngFor="let answer of studentAnswers  ; let i = index" [ngClass]="answer.Class">
      <p>
        {{ answer.Question.Question}}
      </p>
      <p>
        Student Answer: <b> {{ answer.Question.StudentAnswer}}</b>
      </p>
      <p>
        Correct Answer: <b>{{ answer.Question.CorrectAnswer}}</b>
      </p>
    </div>
  </div>

</div>