<div class="tab">
  <!-- <p>Subjects for <b>{{grade.Name}}</b></p> -->

  <span *ngIf="subjects">
    <div class="subjects" *ngIf="subjects.length; else nosubjects">
      <div class="subject" *ngFor="let item of subjects" (click)="openSubject(item.Subject)">
        <p>
          <span class="name">
            {{item.Subject.Name}}
          </span>
          <span class="lessions">
            <span class="material-icons">
              article
            </span>
            Lessons ({{item.Subject.Lessons?.length || 0}})
          </span>
          <span class="lessions">
            <span class="material-icons">
              assignment_turned_in
            </span>
            Tests ({{item.Subject.Tests?.length || 0}})
          </span>
          <span class="lessions">
            <span class="material-icons">
              people_alt
            </span>
            Students enrolled ({{item.Subject.Tests?.length || 0}})
          </span>
        </p>
      </div>

      <div class="add-new">
        <button mat-button color="primary" *ngIf="isAdmin" (click)="add()"> Add new subject</button>
      </div>
    </div>

    <ng-template #nosubjects>
      <div class="nodata">
        <h1>
          No subjects found.
          <span *ngIf="isAdmin" (click)="add()">
            Add subject
          </span>
        </h1>
      </div>
    </ng-template>
  </span>
</div>



















<div class="overlay" *ngIf="showModal || isDelete" (click)="closeModal()"></div>
<div class="modal" *ngIf="showModal">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div class="form">
    <label for="">Subject name**</label>
    <input type="text" [(ngModel)]="name">

    <label for="">Subject code</label>
    <input type="text" [(ngModel)]="code">

    <label for="">Pass mark</label>
    <input type="text" [(ngModel)]="passMark">

    <label for="">Subject description</label>
    <textarea [(ngModel)]="description"></textarea>
    <button mat-button color="primary" (click)="save()"> Save subject </button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>


<div class="modal" *ngIf="isDelete">
  <div class="delete-modal">
    <h1>
      {{modalHeading}}
    </h1>
    <button mat-button color="primary" class="danger" (click)="save()"> Yes, delete</button>
    <button mat-button color="primary" class="secondary" (click)="closeModal()"> Cancel</button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>