@import '../../../../../assets/scss/color';

.subjects {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-gap: 2rem;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
        grid-gap: .8rem;
    }

    .subject {
        background: $cloud;
        padding: 1rem;
        border-radius: .4rem;
        cursor: pointer;

        p {
            padding: 0;
            margin: 0;

            .name {
                font-weight: 600;
                display: block;
                letter-spacing: .1rem;
                font-size: 1.4rem;
                margin-bottom: .5rem;
            }

            .lessions {
                font-size: 1.1rem;
                display: block;
            }

            .material-icons {
                font-size: 1.5rem;
                position: relative;
                top: .4rem;
                margin-right: .5rem;
            }
        }
    }
}


.mat-button.add-new {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    width: 10rem;

    @media only screen and (max-width: 600px) {
        bottom: 2rem;
        width: 22.5rem;
        padding: .5rem 1rem;
        right: .5rem;
        font-weight: 400;
    }
}