<div class="tab">
  <p>Subjects for <b>{{grade.Name}}</b></p>

  <span *ngIf="grade">
    <div class="subjects" *ngIf="grade.Subjects.length; else nosubjects">
      <div class="subject" *ngFor="let item of grade.Subjects" (click)="openSubject(item)">
        <p>
          <span class="name">
            {{item.Name}}
          </span>
          <span class="lessions">
            {{item.lessions?.length || 0}} Lessions
          </span>
        </p>
      </div>
    </div>

    <ng-template #nosubjects>
      <div class="nodata">
        <h1>
          No subjects found for {{grade.Name}}
          <span (click)="add()">
            Add subject
          </span>
        </h1>
      </div>
    </ng-template>
  </span>
</div>



















<div class="overlay" *ngIf="showModal || isDelete" (click)="closeModal()"></div>
<div class="modal" *ngIf="showModal">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div class="form">
    <label for="">Subject name**</label>
    <input type="text" [(ngModel)]="name">

    <label for="">Subject code</label>
    <input type="text" [(ngModel)]="code">

    <label for="">Pass mark</label>
    <input type="text" [(ngModel)]="passMark">

    <label for="">Subject description</label>
    <textarea [(ngModel)]="description"></textarea>
    <button mat-button color="primary" (click)="save()"> Save subject </button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>


<div class="modal" *ngIf="isDelete">
  <div class="delete-modal">
    <h1>
      {{modalHeading}}
    </h1>
    <button mat-button color="primary" class="danger" (click)="save()"> Yes, delete</button>
    <button mat-button color="primary" class="secondary" (click)="closeModal()"> Cancel</button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>