<div class="main">
  <div class="header">

  </div>
  <div class="body">
    <ul>
      <li>
        <img src="assets/images/tachometer-alt-solid.svg" alt="">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li>
          <img src="assets/images/users-solid.svg" alt="">
        <a routerLink="/dashboard">Parents</a>
      </li>
      <li>
          <img src="assets/images/paper-plane-solid.svg" alt="">
        <a routerLink="messaging">Messaging</a>
      </li>
      <li>
          <img src="assets/images/box-solid.svg" alt="">
        <a routerLink="asserts">School Asserts</a>
      </li>
      <li>
          <img src="assets/images/box-solid.svg" alt="">
        <a routerLink="" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</div>