<div class="main">
  <div class="header">
    <img src="assets/images/logo-dash.png" alt="icon-svg">
  </div>
  <div class="body">
    <ul>
      <li>
        <img src="assets/images/tachometer-alt-solid.svg" alt="icon">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li>
        <img src="assets/images/graduation-cap-solid.svg" alt="icon-svg">
        <a routerLink="learners">Learners</a>
      </li>
      <li>
        <img src="assets/images/users-solid.svg" alt="icon-svg">
        <a routerLink="parents">Parents</a>
      </li>
      <li>
        <img src="assets/images/paper-plane-solid.svg" alt="icon-svg">
        <a routerLink="messaging">Communication</a>
      </li>
      <li>
        <img src="assets/images/box-solid.svg" alt="icon-svg">
        <a routerLink="asserts">School Asserts</a>
      </li>
      <li>
        <img src="assets/images/power-off-solid.svg" alt="icon-svg">
        <a routerLink="" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</div>
