form {
  width: 25rem;

  @media only screen and (max-width: 600px) {
    width: 85%;

    .cta {
      &.col-1-of-2 {
        grid-template-columns: 100%;
        grid-gap: 0;
      }
    }
  }
}

.main {
  padding: 8rem 0;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 0;
    overflow-y: scroll;
  }

  .col-1-of-1 {
    padding: 0 1rem;
  }

  .form {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    left: 0;
    margin-top: 4rem;
    .action {
      button.mat-button {
        padding: .5rem;
      }
    }
  }

  .cta {
    a {
      top: 0;
    }
  }

}