@import '../../../../assets/scss/color';

.nav {
  padding: 2rem 1rem;
  text-align: center;
  color: $darker-grey;

  .logo {
    text-align: center;

    img {
      width: 5.125rem;
    }
  }

  .overlay {
    background: rgba(0, 0, 0, 0.514);
  }

  .user-profile {
    text-align: center;
    padding-bottom: 0;
    margin-top: 0rem;
    padding: 1rem 0;
    cursor: pointer;
    h1 {
      font-weight: 500;
      font-size: 12px;
      margin: 0;
    }

    img {
      width: 3.5rem;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 2rem;

    li {

      margin-top: 3rem;
      text-align: center;
      cursor: pointer;
    }

    a {
      text-decoration: none;
      font-size: 12px;
      color: $darker-grey;
      font-weight: 700;

      .nav-item {
        // padding: 0.5rem 1rem;
        width: 11rem;
        text-align: center;
        display: grid;
        grid-template-columns: 0% auto;

        img {
          position: relative;
          left: 1rem;

          &.hl-on {
            display: none;
          }

          &.hl-off {
            display: inline-block;
          }
        }
      }

      &.active-link {
        font-weight: 800;
        color: $primary;

        .nav-item {
          border-radius: 3.125rem;

          img {
            position: relative;
            left: 1rem;

            &.hl-on {
              display: inline-block;
            }

            &.hl-off {
              display: none;
            }
          }
        }
      }

      &.logout {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        color: $grey;
        text-align: center;
      }
    }
  }

  &.mobile {
    display: none;
    background: $white;

    .title {
      h1.h1 {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }

    .modal {
      background: $white;
      bottom: 0;
      top: unset;
      left: 0;
      right: 0;
      width: 100%;
      position: fixed;
      padding: 1rem;

      h1 {
        color: $black;
      }

      .col-1-of-3 {
        .logout {
          padding: 0;

          img {
            height: 1.55rem;
          }
        }
      }

      ul {
        padding: 1rem;
      }

      .nav-item {
        img {
          position: relative;
          left: 1rem;

          &.hl-on {
            display: inline-block;
          }

          &.hl-off {
            display: none;
          }
        }
      }

      .logout {
        padding: 2rem;
      }

    }
  }



  @media only screen and (max-width: 600px) {
    &.desktop {
      display: none;
    }

    padding: 0 1rem;

    &.mobile {
      display: block;
      position: fixed;
      z-index: 999;
      width: 92%;

      .col-1-of-3 {
        grid-template-columns: 15% auto 25%;
        margin-bottom: 0;

        img {
          margin: 1rem;
        }

        .notification {
          cursor: pointer;

          img {
            margin: 1rem;

            &.bell {
              height: 2rem;
            }
          }

          .span {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            font-size: 16px;
            color: #fff;
            text-align: center;
            background: #000;
            font-weight: 400;
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            background: $grey;

            h1.h1 {
              margin: 0;
              font-size: 100%;
              color: $black;
            }

            &.active {
              background: $primary;
            }
          }
        }
      }

      .modal {
        width: 80%;
        box-shadow: $box-shadow;
        border-radius: 0 1rem 1rem 0;

        h1.h1 {
          &.fundani {
            color: $primary;
          }

          font-size: 1rem;
          font-weight: 700;
        }

        .user-profile {
          display: grid;
          grid-template-columns: 30% auto;

          img {
            height: 5rem;
          }

          h1 {
            font-size: 1rem;
            font-weight: 700;
            margin-top: 1rem;
            text-align: left;

            span {
              display: block;
              color: $grey;
              font-size: .85rem;
            }
          }
        }

        button.mat-button.logout {
          color: $darker-grey !important;
          padding: 0;
          width: 15rem !important;
          background: $grey;

          img {
            height: 1rem;
            margin-left: 2rem;
          }

        }

      }

    }
  }

  button.mat-button.logout {
    color: $darker-grey !important;
    padding: 0;
    width: 8rem !important;
    background: $grey;

    img {
      height: 1rem;
      margin-left: 2rem;
    }

    @media screen and (max-width: 600px) {
      width: 15rem !important;
    }
  }

}