<h3>
  <span class="material-icons" (click)="back()">
    west
  </span>
  Learner profile
</h3>
<div class="main-list" *ngIf="student">

  <app-user-profile [user]="student"></app-user-profile>
  <div class="more">
    <mat-tab-group>
      <mat-tab label="Subjects">
        <div *ngFor="let item of student.Studentsubjects">
          <div class="subject-item" *ngIf="item.StatusId==1">
            <h1>
              {{item?.Subject?.Name}}
              <span>
                <b> Enrolled:</b> {{item?.CreateDate | date: 'medium'}}
              </span>
            </h1>
          </div>
         
        </div>
        <div class="save-all">
          <button mat-button color="primary" (click)="add()"> Assign subjects</button>
        </div>
      </mat-tab>
      <mat-tab label="Parent details">
      </mat-tab>
      <mat-tab label="Perfomance">
      </mat-tab>

    </mat-tab-group>
  </div>
</div>



<div class="overlay" *ngIf="showModal" (click)="closeModal()"></div>
<div class="modal" *ngIf="showModal">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div class="assign">
    <div class="grades">

      <div class="form-group">
        <label for="exampleInputName"> {{student?.Grade?.Name}} Subjects</label>
        <div class="subjects">
          <div class="subject-item pointer" *ngFor="let subject of subjects" (click)="select(subject)">
            <section class="example-section">
              <mat-checkbox [checked]="subject.IsSelected" class="example-margin">{{subject.Name}}</mat-checkbox>
            </section>
          </div>
        </div>

      </div>
    </div>
    <div class="action">
      <div class="save-all">
        <button mat-button color="primary" (click)="saveAll()"> Save changes</button>
      </div>
    </div>
  </div>
</div>