.subjects {
  width: 100%;
  margin-bottom: 2rem;
  h1 {
    width: 100%;
    margin-bottom: 1rem;
    color: #08275d;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin: auto;
    margin-top: 7rem;
    font-family: 'Playfair Display', serif;
  }
  .stars {
    display: flex;
    width: 5%;
    list-style-type: none;
    margin: auto;
    img {
      width: 1rem;
    }
  }
  p{
    width: 35%;
    margin: auto;
    color: #787878;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-size: 18px;
  }
  .cards-1-grid,
  .cards-2-grid {
    justify-content: center;
    width: 90%;
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    margin: auto;
    margin-bottom: 5rem;
  }
  .card {
    border: solid 1px rgb(148, 147, 146);
    text-align: center;
    width: 90%;
    margin: auto;

  }
  .card h2 {
    width: 100%;
    background: #08275d;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    padding: 1rem;
    margin: 0%;

  }
  h5 {
    color: #d1ab6a;
    padding: 1rem;
    text-transform: uppercase;
  }

  img {
    width: 100%;
    margin: auto;
    display: block;
  }
}
