<div class="subjects">
  <h1>Our Subjects</h1>
  <div class="stars">
    <li><img src="assets/images/betta/rating-H14TIznVH.png" alt="star"></li>
    <li><img src="assets/images/betta/rating-H14TIznVH.png" alt="star"></li>
    <li><img src="assets/images/betta/rating-H14TIznVH.png" alt="star"></li>
    <li><img src="assets/images/betta/rating-H14TIznVH.png" alt="star"></li>
    <li><img src="assets/images/betta/rating-H14TIznVH.png" alt="star"></li>
  </div>
  <p>We teach our subjects in a way which ensures that our students are well equiped to pracicaly apply the Knowledge in a real world! </p>
  
  <div class="cards-1-grid">
    <div class="card">
      <img src="../../../../../assets/images/betta/subjects/about-us-boy.png" alt="subject-code">
      <h2>IsiZulu</h2>
      <h5>Home Langauge</h5>
    </div>
    <div class="card">
      <img src="../../../../../assets/images/betta/subjects/element5-digital-OyCl7Y4y0Bk-unsplash.jpg" alt="subject-code">
      <h2>English</h2>
      <h5>First Additional Language</h5>
    </div>
    <div class="card">
      <img src="../../../../../assets/images/betta/subjects/globe.jpg" alt="globe">
      <h2>Social Sciences</h2>
      <h5>Student can choose between History and Gegraphy</h5>
    </div>
    <!-- <div class="card">
      <img src="../../../../../assets/images/betta/subjects/CAT.jpg" alt="Computer-Lab">
      <h2>Technology</h2>
      <h5>Innovative preacticals</h5>
    </div> -->
  </div>
 
  <div class="cards-2-grid">
    <div class="card">
      <img src="../../../../../assets/images/betta/subjects/maths.jpg" alt="Mathematics">
      <h2>Mathematics</h2>
      <h5>Learn better problem-solving skills</h5>
    </div>
    <div class="card">
      <img src="../../../../../assets/images/betta/subjects/arts.jpg" alt="art">
      <h2>Arts & Culture</h2>
      <h5>Encouraging Creative Thinking</h5>
    </div>
    <div class="card">
      <img src="../../../../../assets/images/betta/subjects/money.jpg" alt="money">
      <h2>Economics</h2>
      <h5>Undestanding the functionality of finances</h5>
    </div>
    <!-- <div class="card">
      <img src="../../../../../assets/images/betta/subjects/accouting.jpg" alt="accouting">
      <h2>Accounting</h2>
      <h5>Practical Fineccial Knowledge</h5>
    </div> -->
  </div>

</div>
