<div class="Pride">
  <h1>Izifundo Esinazo</h1>
  <div class="cards">
    <div class="card">
      <img src="../../../../assets/images/home-page/soccer.jpg" alt="soccer ball">
      <h3>Extra-Curricula</h3>
      <p>We nurture and develop all that is best in each of our students at Siphiwe Secondary School In sport,
        as in so many areas of school life, we provide a range of options, giving all learners the chance to discover
        where their interest in sport is.</p>
    </div>
    <div class="card">
      <img class="edu" src="../../../../assets/images/home-page/department-logo.png" alt="department-logo">
      <h3>Accreditation</h3>
      <p>Gauteng Department of Education is the premier Gauteng Province Government accreditation body for schools.
        Siphiwe Secondary School is fully accredited by Gauteng Department of Education GDE 700400892.</p>
    </div>
    <div class="card">
      <img src="../../../../assets/images/home-page/campus.jpg" alt="campus">
      <h3>School Campus</h3>
      <p>We emphasise the engagement of learning within a caring, purposeful and stimulating environment where every
        student is encouraged to succeed. We embrace the language and culture of South Africa to prepare our students
        for their career life.</p>
    </div>
  </div>
</div>