<div class="main-list"
     *ngIf="subject">
  <div class="header">
    <div class="go-back">
      <div (click)="back()"
           class="arrow">
        <span class="material-icons">
          west
        </span>
      </div>
      <h1>
        {{subject.Name}}
        <span>
          {{subject.Description}}
        </span>
      </h1>
    </div>
    <div class="header-stats">

    </div>
  </div>
  <mat-tab-group (selectedTabChange)="onTabChanged($event)"
                 [selectedIndex]="selectedIndex">
    <mat-tab label="Lessons">
      <app-list-lessons [lessons]="subject.Lessons"
                        [subjectId]="subject.SubjectId"
                        [subjectName]="subject.Name">
      </app-list-lessons>
    </mat-tab>
    <mat-tab label="Quiz tests">
      <app-tests [tests]="subject.Tests"
                 [SubjectId]="subject.SubjectId"></app-tests>
    </mat-tab>
    <mat-tab label="Assignments">
      <app-list-assignments [assignments]="subject.Assignments"
                            [subjectId]="subject.SubjectId"
                            [gradeId]="subject.GradeId"
                            [subjectName]="subject.Name"></app-list-assignments>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="overlay"
     *ngIf="showModal || showDelete || showPreview"
     (click)="closeModal()"></div>
<div class="modal"
     *ngIf="showModal">
  <div class="close"
       (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div class="form">
    <label for="">Content tittle**</label>
    <input type="text"
           [(ngModel)]="tittle">

    <label for="">Content Type**</label>
    <select [(ngModel)]="contentType">
      <option value="Blog">Blog</option>
      <option value="File">File</option>
    </select>


    <span *ngIf="contentType === 'Video'">
      <label for="">Add youtube ambeded video </label>
      <textarea [(ngModel)]="contentBody"></textarea>
    </span>

    <span *ngIf="contentType === 'File'">
      <label for="">Uplaod the file </label>
      <input type="file"
             multiple>
    </span>

    <span *ngIf="contentType === 'Blog'">
      <label for=""> Create your content here </label>
      <quill-editor [styles]="editorStyle"
                    [(ngModel)]="contentBody">

      </quill-editor>
    </span>
    <button mat-button
            color="primary"
            (click)="formatBody()"> Save content</button>
    <div class="error" *ngIf="error">
      {{error}}
    </div>
  </div>
</div>


<div class="modal"
     *ngIf="showDelete">
  <div class="delete-modal">
    <div class="close"
         (click)="closeModal()">
      <span class="material-icons">
        west
      </span> {{modalHeading}}
    </div>

    <button mat-button
            color="primary"
            class="danger"
            (click)="formatBody()"> Yes, delete</button>
    <button mat-button
            color="primary"
            class="secondary"
            (click)="closeModal()"> Cancel</button>
    <div class="error" *ngIf="error">
      {{error}}
    </div>
  </div>
</div>


<div class="modal"
     *ngIf="showPreview && current">
  <div class="close"
       (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>
  <div class="html-view">
    <div [innerHtml]="htmlPreview"></div>
  </div>
  <mat-tab-group>
    <mat-tab label="Comments && Questions">

      <div class="comments"
           *ngIf="current">
        <div class="comment wider"
             *ngFor="let comment of current.Comments  ; let i = index">
          <span *ngIf="!comment.ParentId">
            <div class="user-dp">
              <div class="dp">
                {{comment.User.Name[0]}}{{comment.User.Surname[0]}}
              </div>

              <p>
                {{comment.User.Name}} {{comment.User.Surname}}
              </p>
            </div>

            <div class="comment-text">
              {{comment.Name}}

              <div class="replies">
                <div class="comment wider"
                     *ngFor="let rep of comment.Replies  ; let i = index">
                  <div class="user-dp">
                    <div class="dp">
                      {{rep.User.Name[0]}}{{rep.User.Surname[0]}}
                    </div>

                    <p>
                      {{rep.User.Name}} {{rep.User.Surname}}
                    </p>
                  </div>

                  <div class="comment-text">
                    {{rep.Name}}
                  </div>
                </div>
              </div>
              <div class="reply">
                <a (click)="reply(comment)"
                   *ngIf="!comment.ShowReply">
                  <span class="material-icons">
                    reply
                  </span>
                  Reply
                </a>

                <div class="reply-input"
                     *ngIf="comment.ShowReply">
                  <input type="text"
                         placeholder="Type reply message here..."
                         [(ngModel)]="comment.Reply">
                  <button (click)="postComment(comment)">
                    <span class="material-icons">
                      send
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Read and understood">
      <div class="students">
        <div class="student"
             *ngFor="let student of current.Students  ; let i = index">
          <div class="user-dp">
            <div class="dp">
              {{student.User.Name[0]}}{{student.User.Surname[0]}}
            </div>

            <p>
              {{student.User.Name}} {{student.User.Surname}}
              <span class="date">
                {{student.CreateDate | date: 'medium'}}
              </span>
            </p>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>