@import '../../../../../assets/scss/color';

.main-list {
    height: 99vh;
}

@media only screen and (max-width: 600px) {
    .details {
        grid-template-columns: 100%;
    }

    .main-list {
        height: 90vh;
    }

}

.head {
    display: grid;
    grid-template-columns: 3% auto;
    margin: 1.5rem 0;

    h1 {
        padding: 0;
        margin: 0;
        font-size: 1rem;
    }

    span {
        cursor: pointer;
    }
}

.header {
    display: grid;
    grid-template-columns: 50% auto;
    box-sizing: border-box;
    border-bottom: 1px solid #ecf0f1;
    background: #FFFFFF;

    .go-back {
        display: flex;
        flex-direction: row;

        .arrow {
            display: block;
            font-size: 2em;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            cursor: pointer;
        }

        h1 {
            font-size: 1.25rem;

            span {
                font-size: .8rem;
                font-weight: 500;
                display: block;
                color: $darker-grey;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;

        .go-back {
            h1 {
                font-size: 1rem;

                span {
                    font-size: .75rem;
                }
            }
        }
    }
}

.overlay {
    .modal {

        @media only screen and (max-width: 600px) {
          
        }
    }
}