<div class="main-section">
  <div class="header">
    <h1>
      Parents
    </h1>
    <div class="bread-crumb">
      <a (click)="toParents()" class="home">parents </a> / <a class="cta">parent details</a>
    </div>
  </div>
  <div class="col-1-of-2">
    <div class="container-section" *ngIf="parent | async; let item;">
      <div class="col-1-of-1 header">
        <h1>
          {{item.fullName}}'s Details
        </h1>
      </div>
      <div class="container-body col-1-of-2">
        <div>
          <img src="assets/images/parents.svg" alt="student-detail-icon" class="icon">
        </div>
        <div class="details col-1-of-2">
          <div class="title">
            <h1>fullname:</h1>
          </div>
          <div class="value">
            <h1>{{item.fullName}}</h1>
          </div>

          <div class="title">
            <h1>Nationality:</h1>
          </div>
          <div class="value">
            <h1>{{item?.nationality}}</h1>
          </div>

          <div class="title">
            <h1>Id Number:</h1>
          </div>
          <div class="value">
            <h1>{{item.idNumber}}</h1>
          </div>

          <div class="title">
            <h1>Gender:</h1>
          </div>
          <div class="value">
            <h1>{{item.gender}}</h1>
          </div>

          <div class="title">
            <h1>cellphone:</h1>
          </div>
          <div class="value">
            <h1>{{item.cellphone}}</h1>
          </div>
          <div class="title">
            <h1>email:</h1>
          </div>
          <div class="value">
            <h1>{{item.email}}</h1>
          </div>
          <div class="title">
            <h1>address:</h1>
          </div>
          <div class="value">
            <h1>{{item.address}}</h1>
          </div>
          <div class="title">
            <h1>section:</h1>
          </div>
          <div class="value">
            <h1>{{item.section}}</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- <app-learner-parents [learnerId]="learnerId"></app-learner-parents> -->
    <app-parent-learner [parentId]="parentId"></app-parent-learner>
  </div>
</div>
