<div class="main">
  <div class="arrow-back" (click)="goHome()">
    <div class="img">
      <img src="assets/images/common/arrow.svg" alt="arrow-image-src">
    </div>

    <div class="heading">
      {{assignment?.Tittle}}
    </div>
  </div>

  <div class="main-list">
    <h2>
      Instructions
    </h2>

    <p>
      {{assignment?.Instructions}}
    </p>

    <div class="attachments">
      <div class="image" *ngFor="let image of assignment.Images; let i = index">
        <div class="file">
          <a [href]="image.Url" target="_blank">
            Assignment Attachment {{i+1}}
          </a>
        </div>
      </div>
    </div>

    <div class="submit">
      <h2>
        Uplaod you assignment here to submit.
      </h2>
      <div class="row" style="margin-bottom:15px;">
        <div class="col-md-3">
          <input type="file" #file placeholder="Choose file" multiple (change)="uploadFile(file.files)"
            style="display:none;">
          <button mat-button class="secondary" (click)="file.click()">
            <span class="material-icons">
              attach_file
            </span>
            Add Files
          </button>
        </div>
      </div>
    </div>
  </div>


</div>






<div class="overlay" *ngIf="showModal || showError || showResults"></div>
<div class="modal" *ngIf="showModal">
  <div class="close" (click)="goHome()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>


  <div class="showError form" *ngIf="showError">
    <p>
      Please answer <b>all</b> the questions before clicking <i> <u> submit test</u></i> button. </p>

    <button mat-button color="primary" class="primary" (click)="closeModal()"> Continue answering all question</button>
  </div>


  <div class="showError form" *ngIf="showResults">
    <p>
      Your score: <b>
        {{yourScore}} %
      </b>

    </p>
    <!-- 
    <button mat-button color="primary" class="secondary" (click)="goHome()"> Finish</button>
    <button mat-button color="primary" class="primary" (click)="takeTestAgain()"> Take test again</button> -->


    <button mat-button color="primary" class="primary" (click)="goHome()"> Finish</button>
    <!-- <button mat-button color="primary" class="primary" (click)="takeTestAgain()"> Take test again</button> -->
  </div>


</div>