@import '../../../../assets/scss/color';

.company {
    background: $white;
    padding: 1rem;
    border-radius: $border-radius;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 15% auto;
    box-shadow: $box-shadow;

    .dp {
        width: 10rem;
        height: 10rem;
        font-size: 5rem;
        cursor: pointer;
        overflow: hidden;
        border: 3px solid $cloud;
        background: $cloud;
    }

    img {
        width: 90%;
        border-radius: 1rem;
        position: relative;
        margin: .5rem auto;
    }
}

.details {
    border-left: 1px solid $cloud;
    padding: 2rem;

    h1 {
        font-size: 1.25rem;

        span {
            display: block;
            font-size: .7rem;
            font-weight: 500;
            font-style: italic;
        }

        .link {
            color: $black;
            background: $grey;
            width: 10rem;
            padding: .2rem;
            border-radius: .5rem;
            margin-top: 1rem;
            cursor: pointer;
            font-size: .6rem;
            font-weight: 600;
            text-align: center;
        }

        &.stat {
            font-size: 1rem;
            font-weight: 500;
            text-transform: capitalize;

            span {
                font-size: 1.2rem;
                font-weight: 900;
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .company {
        grid-template-columns: 35% auto;
    }

    .details {
        padding: 0 .5rem;

        h1 {
            font-size: 1rem;
            &.stat {
                font-size: .75rem;
            }
        }
    }

}