<div class="company">
  <div class="dp"
       *ngIf="!company.Dp"
       (click)="showUplaod()">
    <span class="material-icons">
      camera_alt
    </span>
  </div>
  <div class="round-dp"
       *ngIf="company.Dp"
       (click)="showUplaod()">
    <div class="image"
         *ngIf="company.Dp">
      <img [src]="company.Dp"
           alt="">
    </div>
  </div>
  <div class="col-1-of-2">
    <div class="details">
      <h1 class="header">
        Organization Details
      </h1>
      <h1>
        {{company.Name}}
        <span>
          {{company.Description}}
        </span>
        <span class="link"
              (click)="showEditUplaod()">
          Edit organization profile
        </span>
      </h1>
      <h1 class="stat"
          *ngIf="gradeCount && gradeCount > 0">
        number of grades
        <span>
          {{gradeCount}}
        </span>
      </h1>
    </div>
    <div class="details" *ngIf="Institution.InstitutionType">
      <h1 class="header">
        Institution Details
      </h1>
      <h1>
        {{Institution.InstitutionType.Name}}
        <span>
          {{Institution.InstitutionType.Description}}
        </span>        
      </h1>
     
    </div>
  </div>

</div>

<div class="overlay"
     *ngIf="showModal"
     (click)="closeModal()"></div>
<div class="modal"
     *ngIf="addDp">
  <div class="close"
       (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>
  <div class="form">
    <label for="">Select image </label>
    <input type="file"
           (change)="imageChanged($event)">
    <div class="preview"
         *ngIf="dpUrl">
      <img [src]="dpUrl"
           alt="">
    </div>
    <button mat-button
            color="primary"
            (click)="update()"> Confirm</button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>

<div class="modal"
     *ngIf="isUpdate">
  <div class="close"
       (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div class="form">
    <div class="form-group">
      <label for="NameCtrl">Name</label>
      <input type="text"
             id="NameCtrl"
             [(ngModel)]="company.Name">
    </div>
    <div class="form-group">
      <label for="HandlerCtrl">Slogan</label>
      <input type="text"
             id="HandlerCtrl"
             [(ngModel)]="company.Handler">
    </div>
    <div class="form-group">
      <label for="DescriptionCtrl">Description</label>
      <textarea name="DescriptionCtrl"
                id="DescriptionCtrl"
                [(ngModel)]="company.Description"
                cols="30"
                rows="10"></textarea>
    </div>


    <button mat-button
            color="primary"
            (click)="update()"> Save changes</button>
    <div class="error">
      {{error}}
    </div>
  </div>
</div>