@import '../../../../../../assets/scss/color';

.student-subjects {
    background: $white;
    padding: 1rem;
    border-radius: $border-radius;

    .header {
        display: grid;
        grid-template-columns: 60% auto;
        box-sizing: border-box;
        border-bottom: 1px solid $cloud;

        .name {
            padding: 1rem .5rem;
            font-weight: 600;
            position: relative;
            top: .5rem
        }

        .switch {
            display: grid;
            grid-template-columns: 30% auto;

            span {
                display: block;
                position: relative;
                top: 1.4rem;
                font-weight: 600;
                font-size: .7rem;
                color: $primary;
            }
        }
    }
}

.quiz {
    h1 {
        font-size: 1.2rem;
        font-weight: 700;
    }
}

.topics {
    background: $cloud;
    padding: 1rem;
    overflow-x: scroll;

    .topic {
        margin: 1rem 0;
    }

    @media only screen and (max-width: 600px) {
        padding: .5rem;
    }

    .line {
        position: relative;
        display: grid;
        grid-template-columns: 90% auto;
        padding: .4rem;
        background: $white;
        padding: 1rem 2rem;
        border-radius: $border-radius;


        @media only screen and (max-width: 600px) {
            // width: 15rem;
        }

    }
}

.stat {
    display: block;
    font-size: .8rem;
    color: $darker-grey;
}