<div class="student-subjects"
     *ngIf="studentsubject">
  <div class="header">
    <div class="form">
      <div class="form-group">
        <label for="exampleGrade">Switch Subject</label>
        <select name="exampleInputSubject"
                id="exampleInputSubject"
                #thisSelect
                [(ngModel)]="subjectId"
                (change)="subjectChanged(thisSelect.value)">
          <option selected
                  disabled>Switch subject here</option>
          <option *ngFor="let item of subjects"
                  [value]="item.SubjectId">{{item.Name}}</option>
        </select>
      </div>
    </div>
    <div class="name">
      {{studentsubject.Name}}
    </div>
  </div>

  <mat-tab-group (selectedTabChange)="onTabChanged($event)"
                 [selectedIndex]="selectedIndex">
    <mat-tab label="Lessons">
      <div class=""
           *ngIf="studentsubject.Lessons && studentsubject.Lessons.length">
        <div class="topics">
          <div *ngFor="let item of studentsubject.Lessons"
               class="topic">
            <div class="line pointer"
                 (click)="readTopic(item)">

              <div class="text">
                {{item.Tittle}}
              </div>

              <div class="action">
                <a>
                  <span class="material-icons">
                    arrow_forward
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-tab>
    <mat-tab label="Quiz tests"
             *ngIf="studentsubject.Tests && studentsubject.Tests.length">
      <div class="quiz">
        <h1>
          {{studentsubject.Name}} <span class="lessons-heading">Tests</span>
        </h1>
        <div class="topics">
          <div *ngFor="let item of studentsubject.Tests"
               class="topics">
            <div class="line pointer"
                 (click)="takeTest(item)">

              <div class="text">
                {{item.Name}}
              </div>

              <div class="action">
                <a>
                  <span class="material-icons">
                    arrow_forward
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-tab>
    <mat-tab *ngIf="studentsubject.Assignments && studentsubject.Assignments.length"
             label="Assignments">
      <div class="recent topic">
        <div class="topics">

          <div *ngFor="let item of studentsubject.Assignments"
               class="topics">
            <div class="line pointer"
                 (click)="viewAssignments(item)">

              <div class="text">
                {{item.Tittle}}
                <span class="stat">
                  {{item.Points}} Points | Due: {{item.DueDate | date: 'mediumDate'}}
                </span>
              </div>

              <div class="action">
                <a>
                  <span class="material-icons">
                    arrow_forward
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-tab>

  </mat-tab-group>
</div>