<div class="contact-us">
  <h1 class="main">
    Contact us now with any query, about our platform.
  </h1>
  <div class="col-1-of-2">
    <form class="form"
          [formGroup]="rForm">
      <div class="form-group">
        <label>FullName</label>
        <input type="text"
               id="FullName"
               formControlName="FullName"
               name="Email"
               placeholder="Your full name..">

      </div>
      <div class="form-group">
        <label>Contact Number*</label>
        <input type="number"
               id="ContactNumber"
               formControlName="ContactNumber"
               name="ContactNumber"
               placeholder="Your contact number..">
        <mat-error *ngIf="!rForm.controls['ContactNumber'].valid && rForm.controls['ContactNumber'].touched">a contact
          number is
          required</mat-error>
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <input type="email"
               id="Email"
               formControlName="Email"
               name="Email"
               placeholder="Your email..">
        <mat-error *ngIf="!rForm.controls['Email'].valid && rForm.controls['Email'].touched">a valid email is
          required</mat-error>
      </div>
      <div class="form-group">
        <label>Write a message Message</label>
        <textarea type="text"
                  id="Message"
                  formControlName="Message"
                  name="Message"
                  placeholder="Your Message.."></textarea>
        <mat-error *ngIf="!rForm.controls['Message'].valid && rForm.controls['Message'].touched">a Message is
          required</mat-error>
      </div>


      <div class="col-1-of-1">
        <button mat-flat-button
                color="primary"
                (click)="onSubmit(rForm.value)"
                [disabled]="!rForm.valid">
          Submit now
        </button>
        <button mat-flat-button
                class="transparent"
                (click)="clearForm()">clear form</button>
      </div>
      <div class="error"
           *ngIf="error">
        <h1>{{error}}</h1>
      </div>
    </form>
    <div class="contact-details">
      <img src="assets/images/home/contact-us.svg"
           alt="pricing">
      <div class="details"
           *ngIf="model">
        <h1 class="main">
          Our Contact details
        </h1>
        <span *ngFor="let item of model">
          <h1 class="sub-main">Online Thalente Courses</h1>
          <h1 class="text">
            <span class="title">Cell:&nbsp;</span>
            {{item.Phone}}
          </h1>
          <h1 class="text">
            <span class="title">Email:&nbsp;</span>
            {{item.Email}}
          </h1>
          <h1 class="text address">
            <span class="title">Physical address:&nbsp;</span>
            {{item.AdressLine1}}
            {{item.AdressLine2}}
            {{item.AdressLine3}}
          </h1>
        </span>

      </div>
    </div>

  </div>
</div>