@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,400i,500,500i,700,700i,900,900i&display=swap");
.col-1-of-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1rem;
  grid-gap: 2rem;
}

.col-1-of-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1rem;
  grid-gap: 2rem;
}

@media only screen and (max-width: 600px) {
  .col-1-of-2 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.col-1-of-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .col-1-of-3 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.col-1-of-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1rem;
  grid-gap: 2rem;
}

@media only screen and (max-width: 600px) {
  .col-1-of-4 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.container-section {
  background: #fff;
  padding: 2rem;
  padding-bottom: 4rem;
  margin: 2rem 0;
  height: 70vh;
  overflow-y: scroll;
  position: relative;
}

.container-section .header {
  padding: 0 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 3px 7px 6px -9px rgba(0, 0, 0, 0.45);
          box-shadow: 3px 7px 6px -9px rgba(0, 0, 0, 0.45);
}

.container-section .header h1 {
  font-weight: 500;
}

.container-section.content {
  padding: 2rem 0;
  width: 35vw;
}

.container-section.content .header {
  padding: 0 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 3px 7px 6px -9px rgba(0, 0, 0, 0.45);
          box-shadow: 3px 7px 6px -9px rgba(0, 0, 0, 0.45);
}

.container-section.content .header h1 {
  font-weight: 500;
}

.container-section.content .container-body {
  padding: 2rem;
  padding-top: 1rem;
}

.container-section.content .container-body.col-1-of-2 {
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
  margin-bottom: 0;
}

.container-section.content .container-body .details.col-1-of-2 {
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
  grid-gap: 1rem;
}

.container-section.content .container-body .details div.title h1 {
  font-weight: 700;
}

.container-section.content .container-body .details div.value h1 {
  font-weight: 400;
}

.container-section .footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.container-section .footer button {
  width: 30%;
  padding: 1%;
  background: #130F40;
  color: #F5F6FA;
  border: none;
}

.container-section .form {
  width: 80%;
  height: 30rem;
  overflow-y: scroll;
  margin: 0 auto;
}

.container-section .form .col-1-of-1 {
  grid-gap: 0;
}

.container-section .form .controls label {
  text-align: left;
  text-transform: capitalize;
  font-weight: 500;
}

.container-section .form .controls label span {
  color: #e00606;
}

.container-section .form .controls .input-field {
  padding: 0.75rem 1.5rem;
  border: none;
  color: #130F40;
  background: #F5F6FA;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.container-section .form .controls .action-button {
  background: #3742fa;
  color: #fff;
  width: 33%;
  float: right;
  padding: 1rem 1.5rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.container-section .form .controls .action-button:hover {
  background: #1924f3;
}

.container-section .form .controls .action-button:disabled {
  background: rgba(148, 148, 149, 0.712);
  cursor: no-drop;
}

.container-section .form .controls.actions .col-1-of-2 {
  margin: 0;
  margin-top: 1rem;
}

.container-section .form .controls.actions .col-1-of-2 .action-button {
  width: 100%;
}

.container-section .form .controls.actions .col-1-of-2 a.abort {
  font-size: 20px;
  text-align: center;
  margin: 1rem 0;
  font-weight: 500;
  color: #707070;
  text-transform: capitalize;
}

.container-section .form .controls .alert {
  color: #d1ab6a;
  text-transform: capitalize;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #130f40;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.table-wrapper {
  -webkit-box-shadow: 3px 7px 6px -9px rgba(0, 0, 0, 0.45);
          box-shadow: 3px 7px 6px -9px rgba(0, 0, 0, 0.45);
}

.table-wrapper .fl-table {
  border-radius: 5px;
  font-size: 15px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.table-wrapper .fl-table th,
.table-wrapper .fl-table td {
  text-align: center;
  padding: 8px;
}

.table-wrapper .fl-table th {
  color: #2F3542;
  background: #F5F6FA;
  text-transform: capitalize;
  font-weight: 600;
}

.table-wrapper .fl-table td {
  border-bottom: 0.5px solid #F5F6FA;
}

.table-wrapper .fl-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0;
}

@media (max-width: 767px) {
  .table-wrapper .fl-table .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper .fl-table .fl-table thead,
  .table-wrapper .fl-table .fl-table tbody,
  .table-wrapper .fl-table .fl-table thead th {
    display: block;
  }
  .table-wrapper .fl-table .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .table-wrapper .fl-table .fl-table thead th:last-child {
    border-bottom: none;
  }
  .table-wrapper .fl-table .fl-table thead {
    float: left;
  }
  .table-wrapper .fl-table .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    margin-top: 1px;
  }
  .table-wrapper .fl-table .fl-table td,
  .table-wrapper .fl-table .fl-table th {
    height: 60px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .table-wrapper .fl-table .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .table-wrapper .fl-table .fl-table tbody tr {
    display: table-cell;
  }
  .table-wrapper .fl-table .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .table-wrapper .fl-table .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .table-wrapper .fl-table .fl-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }
  .table-wrapper .fl-table .fl-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
  }
  .table-wrapper .fl-table .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

* {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.bread-crumb a.home {
  cursor: pointer;
  color: #707070;
  font-weight: 400;
}

a.cta {
  font-weight: 700;
  color: #0FBCF9;
  text-transform: capitalize;
  cursor: pointer;
}

a.cta:hover {
  color: #3742FA;
}

.main-section {
  padding: 2rem;
  height: 90vh;
}

.email-address {
  text-transform: lowercase !important;
}

::-webkit-scrollbar {
  width: 0.5px;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  padding-top: 12rem;
}

.banner h1 {
  text-align: center;
  color: #d1ab6a;
  margin: auto 0;

}

.body {
  padding: 2rem;
}

.body .form {
  width: 40%;
  margin: 0 auto;
}

.body .form .controls {
  margin: 1.5rem 0;
}

.body .form .controls label {
  text-align: left;
  text-transform: capitalize;
}

.body .form .controls label span {
  color: #e00606;
}

.body .form .controls .input-field {
  padding: 1rem 1.5rem;
  border: none;
  color: #130F40;
  background: #F5F6FA;
  border: 0.6px solid #999999;
}

.body .form .controls .action-button {
  background: #3742fa;
  color: #fff;
  width: 33%;
  float: right;
  padding: 1rem 1.5rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 4rem;
}

.body .form .controls .action-button:hover {
  background: #1924f3;
}

.body .form .controls .action-button:disabled {
  background: rgba(148, 148, 149, 0.712);
  cursor: no-drop;
}

.body .form .controls .alert {
  color: #d1ab6a;
}

.banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00000060), to(#6e6e6e81)), url(./assets/images/bg.jpg);
  background-image: linear-gradient(#00000060, #6e6e6e81), url(./assets/images/bg.jpg);
}
/*# sourceMappingURL=styles.css.map */