<div class="main-section">
  <div class="header">
    <h1>
      learners
    </h1>
    <a class="cta" routerLink="learners">add learners</a>
  </div>
  <div class="container-section">
    <div class="table-container">
      <div class="search">
        <h1>
          all learners
        </h1>
      </div>
      <div class="table-cols table-header">
        <h1>
          full name
        </h1>
        <h1>
          gender
        </h1>
        <h1>
          id number
        </h1>
        <h1>
          grade
        </h1>
        <h1>
          section
        </h1>
      </div>
      <div class="table-body">
        <div class="table-cols" *ngFor="let item of learners | async">
          <h1>
            {{item.firstName}} {{item.lastName}}
          </h1>
          <h1>
            {{item.gender}}
          </h1>
          <h1>
            {{item.idNumber}}
          </h1>
          <h1>
            {{item.grade}}
          </h1>
          <h1>
            {{item.section}}
          </h1>
          <a class="cta more" (click)="viewLearnerDetails(item.learnerId)">view more</a>
        </div>
      </div>
    </div>
  </div>
</div>
