<div class="headers">
  <app-breadcrumb [crumbs]="crumbs"></app-breadcrumb>
  <app-header-banner [headerBanner]="headerBanner" (showModalEventEmitter)="add()"></app-header-banner>
</div>
<div class="main-list" *ngIf="users">
  <div class="items">
    <div class="item pointer" *ngFor="let item of users" (click)="view(item)">
      <div class="details">
        <div class="icon">
          <div class="user-dp">
            <div class="dp">{{item.Name[0]}}{{item.Surname[0]}}</div>
          </div>
        </div>
        <div class="data">
          <h1>
            {{item.Name}} {{item.Surname}}
            <span>{{item.Grade?.Name}}</span>
          </h1>
        </div>
        <div class="data">
          <h1>
            {{item.PhoneNumber}}
            <span>{{item.Email}}</span>
          </h1>
        </div>
        <div class="data">
          <h1>
            Join Date
            <span>{{item.CreateDate| date: 'mediumDate'}}</span>
          </h1>
        </div>
        <!-- <div class="data">
          <h1>
            Subjects
            <span>{{item.Studentsubject | studentsubjects}}</span>
          </h1>
        </div> -->
        <div class="data">
          <h1>
            Access Status
            <span>
              <select [(ngModel)]="item.StatusId" class="status" (change)="learnerStatusChanged(item)">
                <option value="1">Active</option>
                <option value="5">Pending payment</option>
                <option value="4">Pending email verification</option>
              </select>
            </span>

            <span class="pp" *ngIf="item.Billing && item.Billing[0].PayProof && item.StatusId == 5">
              <span class="btn-pp" (click)="openPP(item.Billing[0].PayProof)">Proof of payment</span>
            </span>
          </h1>
        </div>

        <div class="viewing" *ngIf="item.Viewing">
          <ul>
            <li (click)="open(item.GradeId)">
              <span class="material-icons">
                list
              </span>View Subjects</li>
            <li (click)="edit(item)">
              <span class="material-icons">
                edit
              </span>Edit</li>
            <li (click)="delete(item.GradeId)" class="delete"><span class="material-icons">
                delete_outline
              </span>Delete</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="showModal"></div>

<div class="modal" *ngIf="showConfirm">
  <div class="close" (click)="cancelStatusChange()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div class="form">
    <p>
      {{modalBody}}
    </p>

    <button mat-button color="primary" (click)="updateStatus()"> {{modalCTA}} </button>

  </div>
</div>
<div class="modal" *ngIf="proofOfPayment">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <div class="form">

    <img [src]="proofOfPayment" alt="">
  </div>
</div>
<div class="modal" *ngIf="showAddLearner">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

<app-add-learner (doneAdding)="doneAdding($event)"></app-add-learner>
</div>
<app-dash-loader *ngIf="showLoader"></app-dash-loader>