<div class="stats">
  <div class="cards">
    <div class="card">
      <img src="assets/images/betta/winner-Sysp2dhVB.png" alt="trophie">
      <h1>30</h1>
      <p>Our Sports Winnings</p>
    </div>
    <div class="card">
      <img src="assets/images/betta/law-rJNg0_34B.png" alt="campusicon">
      <h1>11</h1>
      <p>School Patners</p>
    </div>
    <div class="card">
      <img src="../../../../../assets/images/betta/graduating-SJz4bKnVr1.png" alt="gradcap">
      <h1>96%</h1>
      <p>Matric Pass Rate</p>
    </div>
    <div class="card">
      <img src="../../../../../assets/images/betta/group-rkcFQtnNS1.png" alt="people">
      <h1>25</h1>
      <p>Professional Teachers</p>
    </div>
  </div>
</div>